<ul>
    <li class="has-menu"><a href="products.html">Products</a>
        <ul>
            <li class="has-menu"><a href="#">Forks & Grabs <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                <ul>
                    <li><a href="product.html?id=45">Palette Forks</a></li>
                    <li><a href="product.html?id=012">Muck Forks & Grabs</a></li>
                    <li><a href="product.html?id=7">Stone Forks</a></li>
                    <li><a href="product.html?id=11">Big Bag Lifter</a></li>
                </ul>
            </li>
            <li class="has-menu"><a href="#">Buck Rakes <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                <ul>
                    <li><a href="product.html?id=14">KV Type Tines</a></li>
                    <li><a href="product.html?id=22">Hardox Tines</a></li>
                </ul>
            </li>
            <li><a href="#">Bale Handling</a></li>
            <li><a href="#">Snow Plough</a></li>
            <li><a href="#">Quick Hitches & Brackets</a></li>
            <li class="has-menu"><a href="#">Road Graders <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                <ul>
                    <li><a href="product.html?id=9">Road Graders Version 1</a></li>
                    <li><a href="product.html?id=1">Another Type Here</a></li>
                </ul></li>
            <li><a href="#">Grain Pusher</a></li>
            <li><a href="#">Potato Box Tipper</a></li>
            <li><a href="#">Access Platform</a></li>
            <li><a href="#">Bespoke Builds</a></li>
        </ul>
    </li>
    <li class="has-menu"><a href="sectors.html">Sectors</a>
        <ul class="sector-nav">
            <li>
                <a href="sector.html?id=agriculture">
                    <span class="sector-icon agriculture" aria-hidden="true"></span>
                    <span class="text">Agriculture</span>
                </a>
            </li>
            <li>
                <a href="sector.html?id=forestry">
                    <span class="sector-icon forestry" aria-hidden="true"></span>
                    <span class="text">Forestry</span>
                </a>
            </li>
            <li>
                <a href="sector.html?id=construction">
                    <span class="sector-icon construction" aria-hidden="true"></span>
                    <span class="text">Construction</span>
                </a>
            </li>
            <li>
                <a href="sector.html?id=engineering">
                    <span class="sector-icon engineering" aria-hidden="true"></span>
                    <span class="text">Engineering</span>
                </a>
            </li>
            <li>
                <a href="sector.html?id=waste">
                    <span class="sector-icon waste" aria-hidden="true"></span>
                    <span class="text">Waste</span>
                </a>
            </li>
            <li>
                <a href="sector.html?id=rewnewables">
                    <span class="sector-icon renewables" aria-hidden="true"></span>
                    <span class="text">Renewables</span>
                </a>
            </li>
            <li>
                <a href="sector.html?id=municipal">
                    <span class="sector-icon municipal" aria-hidden="true"></span>
                    <span class="text">Municipal</span>
                </a>
            </li>
        </ul>
    </li>
    <li><a href="stock.html">Stock</a></li>
    <li><a href="owners.html">Owners</a></li>
    <li><a href="about.html">About</a></li>
    <li><a href="news.html">News</a></li>
    <li><a href="contact.html">Contact</a></li>
</ul>