
.btn-product {
    background-color: $brand-red;
    color: $brand-white;
    @include transition(background 0.5s);
    border: none;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-shadow: none !important;
    outline: none !important;

    font-size: 1.2em;
    padding: 15px 24px;
    @include border-radius(9px);

    &.btn-small {
        font-size: 1.0em;
        padding: 10px 18px;
        @include border-radius(6px);
    }

    &:hover,
    &:focus {
        color: #ffffff;
        background-color: darken($brand-red, 10%);
    }

    &:focus {
        color: #ffffff;
        background-color: $brand-blue;
    }

    @media (max-width: $width-md){
        padding: 6px 12px !important;
        font-size: 0.9em !important;
        @include border-radius(4px);
    }
}

// TODO: Rob
// Works it <button type="button" class="btn btn-product btn-small" data-btn-state="positive"> in html
// And campus.buttonToggles module in javaScript
[data-btn-state] {
    i {
        margin-left: 4px;
    }
}

[data-btn-state="positive"],
[data-btn-state="positive"]:hover{
    background-color: $brand-red;
    .positive { display: block }
    .negative { display: none }
}

[data-btn-state="negative"],
[data-btn-state="negative"]:hover {
    background-color: $brand-blue;
    .positive { display: none }
    .negative { display: block }
}

.page-actions {
    @media (max-width: $width-xs){
        button {
            width: 100%;
        }
    }
}