
.container {
    width: 1170px;
    @media (max-width: $width-lg){
        width: 100%;
    }
}

.content {
    .container {
        @media (max-width: $width-lg){
            padding-right: 0;
            padding-left: 0;
        }
    }
}

.section {
    position: relative;
}

.form {

    label {
        font-weight: normal !important;
    }

    .form-group {
        [readonly] {
            background: #ffffff !important; // done for date widget, edit as you like
        }
    }

    input, select, textarea, button, .form-control {

        @include border-radius(2px);
        box-shadow: none !important;
        border-color: $brand-coal !important;
        font-family: 'Open Sans', sans-serif;
        font-weight: normal !important;

        &:focus {
            border-color: #000000 !important;
            box-shadow: none !important;
        }
    }

    input, select, textarea, button {

        &:not([type="checkbox"]) {
            -webkit-appearance: none;
            -moz-appearance:    none;
            appearance:         none;
        }
    }

    input, select, textarea {
        color: #000000;
     }

    .form-horizontal {
        padding-bottom: 15px;

        label:not(.checkbox-right) {
            font-weight: normal !important;
            text-align: left !important;
        }
    }

    .form-inline {
        label {
            display: block;
            float: left;
        }
        
        input {
            float: none !important;
        }

        .form-group {
            margin: 0 !important;
            width: 100%;
        }
    }

    .form-3-char {
        width: 40% !important;
    }

    .checkbox-right,
    .checkbox-left {
        position: relative;
        width: 100%;
        min-height: 30px;

        span {
            display: inline-block;
        }

        input {
            position: absolute;
            top: 4px;
            width: 15px;
            height: 15px;
            outline: none !important;
            cursor: pointer;
            margin: 0;
        }
    }

    .btn-product {
        @include border-radius(6px);
    }

    .checkbox-right {
        text-align: right !important;

        span {
            padding-right: 27px;
        }

        input {
            right: 0;
        }
    }

    .checkbox-left {
        text-align: left !important;

        span {
            padding-left: 27px;
        }

        input {
            left: 0;
        }
    }

    .error-message {
        display: none;
        padding-top: 2px;
        color: $brand-red;
        font-size: 0.8em;
    }

    .error {
        .error-message {
            display: block;
        }
    }

    textarea {
        resize: none;
    }

    .stacked-group {
        label {
            margin-bottom: 5px !important;
            padding-top: 0 !important;

        }
    }
}


h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-family: league_gothicregular;
}



a {
    color: $brand-blue;

    &:hover {
        color: $brand-black;
        text-decoration: none;
    }
}

.desktop {
    .mobile-link {
        color: $brand-grey;
        cursor: default;
    }
}

.display-none {
    display: none;
}


/* styling select dropdown form field */
select {
    background: transparent;
    background: url('../images/bg-select.png') right center no-repeat !important;
}

/* CAUTION: IE hackery ahead */
select::-ms-expand {
    display: none; /* remove default arrow in IE 10 and 11 */
}

/* target Internet Explorer 9 to undo the custom arrow */
@media screen and (min-width:0\0) {
    select {
        background:none\9;
        padding: 5px\9;
    }
}

select {
    &.short-select {
        width: 60px;
        display: inline;
        float: left;
    }
}