
.container {
    width: 1170px;
    @media (max-width: $width-lg){
        width: 100%;
    }
}

.content {
    padding: 25px 0;

    .large-cta {
        background: url("../images/stock_arrow.png") right center no-repeat;
        display: inline-block;
        margin-bottom: 15px;
        text-transform: uppercase;
        padding: 0;
        border-radius: 3px;
        @include transition(all 0.25s);
        font-weight: normal;

        a {
            display: inline-block;
            background: url("../images/stock_logo.png") 0 0 no-repeat;
            background-size: cover;
            padding: 10px 60px 8px 15px;
            @include transition(all 0.5s);
            position: relative;

            i {
                position: absolute;
                right: 20px;
                top: 50%;
                margin-top: -12px;
            }

            &:hover {
                background: url("../images/stock_logo.png") -15px 0 no-repeat;
                background-size: cover;
            }
        }

        @media (max-width: $width-sm) {
            display: block;
            background: #cccccc;
            font-size: 2.0em;
            text-align: center;

            a {
                padding: 10px 0 8px 0;
                display: block;
                i {
                    position: static;
                }
            }
        }

    }

    .container {
        @media (max-width: $width-lg){
            padding-right: 0;
            padding-left: 0;
        }
    }
}

.cleft {
    clear: left;
}

.section {
    position: relative;
}


form {

    label {
        font-weight: normal !important;
    }

    .checkbox {
        padding-top: 0 !important;
    }

    input, select, textarea, button {

        &:not([type="radio"]),
        &:not([type="checkbox"]){
            @include border-radius(1px);
        }

        box-shadow: none !important;
        border-color: $brand-grey !important;
        font-family: 'Open Sans', sans-serif;
        font-weight: normal !important;

        &:focus {
            border-color: #000000 !important;
            box-shadow: none !important;
        }
    }

    input[type="text"],
    input[type="email"],
    input[type="number"],
    select, textarea, button {
        outline: none !important;
        -webkit-appearance: none;
        -moz-appearance:    none;
        appearance:         none;
    }

    input, select, textarea {
        color: #000000;
    }

    input[type="checkbox"],
    input[type="radio"]{
        outline: none !important;
    }

    [type="submit"]{
        @media (max-width: $width-xs - 1) {
            width: 100%;
        }
    }

    &.form-horizontal {
        padding-bottom: 15px;

        label:not(.checkbox-right) {
            text-align: left !important;
            font-size: 0.9em;
        }

        .radio-inline {
            padding-top: 0;
        }
    }

    .checkbox-right,
    .checkbox-left {
        position: relative;
        width: 100%;
        min-height: 30px;

        span {
            display: inline-block;
        }

        input {
            position: absolute;
            top: 4px;
            width: 15px;
            height: 15px;
            outline: none !important;
            cursor: pointer;
            margin: 0;
        }
    }

    .checkbox-right {
        text-align: right !important;

        span {
            padding-right: 27px;
        }

        input {
            right: 0;
        }
    }

    .checkbox-left {
        text-align: left !important;

        span {
            padding-left: 27px;
        }

        input {
            left: 0;
        }
    }

    .error-message {
        display: none !important;
    }

    .error {
        input, select, textarea {
            border-color: $brand-red !important;
        }

        .error-message {
            display: block !important;
            color: $brand-red;
            font-size: 0.8em;
            padding-top: 2px;
        }
    }

    textarea {
        resize: none;
    }
}

.btn {
    border: none;
    @include border-radius(1px);
    @include transition(all 0.25s);
    font-family: league_gothicregular;
    text-transform: uppercase;
    font-size: 1.5em;
    background-color: $brand-grey-btn;
    color: $brand-red-btn;
    outline: none !important;
    padding: 5px 10px 5px 14px;

    i {
        font-size: 0.75em;
    }

    &:hover {
        background-color: $brand-coal;
        color: $brand-white;
    }

    &.btn-reverse {
        background-color: $brand-red;
        color: $brand-grey-btn;

        &:hover {
            background-color: $brand-coal;
            color: $brand-white;
        }
    }

    &.btn-inner {
        width: 100%;
        height: 34px;
        line-height: 34px;
        padding: 0 10px !important;
    }

    @media (max-width: $width-xs) {
        display: block;
        width: 100%;
    }
}

.badge {
    border: none;
    @include border-radius(1px);
    @include transition(all 0.25s);
    font-family: league_gothicregular;
    text-transform: uppercase;
    font-size: 1.5em;
    background-color: $brand-red;
    color: $brand-white;
    outline: none !important;
    padding: 5px 14px;
    font-weight: normal;
    line-height: 1.42857143;
}

.links-list {
    .btn,
    .badge {
        margin-bottom: 10px;
        @media (max-width: $width-xs) {
            display: block;
        }
    }
}


h1, h2, h3 {
    margin: 0;
    padding: 0 0 15px 0;
    font-weight: bold;
    font-family: league_gothicregular;
}

ul {
    margin-bottom: 15px;
}

h2 {
    font-size: 2.8em;

    span {
        display: block;
        font-size: 0.8em;
    }

    a {
        color: $brand-dark-red;
        @include transition(color 0.25s);
        outline: none !important;
        text-decoration: none !important;

        &:focus {
            color: $brand-dark-red;
        }

        &:hover {
            color: $brand-coal;
        }

        i {
            font-size: 0.6em;
        }
    }

    &+h3 {
        //margin-top: -10px;
    }
}

h3 {
    margin: 0;
    font-size: 2.0em;
    padding: 0 0 10px 0;
}

h4 {
    margin: 0;
    padding: 0 0 10px 0;
    &.title {
        font-family: league_gothicregular;
        font-size: 2.0em;
    }
}

h5 {
    margin: 0;
    padding: 0 0 10px 0;
}

a {
    color: $brand-blue;
    @include transition(color 0.25s);

    &:hover {
        color: $brand-coal;
        text-decoration: none;
    }

    &.large-anchor {
        color: $brand-dark-red;
        font-family: league_gothicregular;
        text-transform: uppercase;
        font-size: 2.3em;
        display: block;
        clear: both;
        text-decoration: none !important;

        &:hover {
            color: $brand-coal;
        }

        i {
            font-size: 0.6em;
        }
    }

    &.more-link {
        font-weight: bold;
        color: $brand-dark-red;
        padding-top: 2px;
        display: block;

        i {
            font-size: 0.75em;
        }

        &:hover {
            color: $brand-black;
            text-decoration: underline;
        }
    }
}

.strong {
    font-weight: bold;
}

.detail {

    a {
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }

    .article-link {
        color: $brand-red;
        font-weight: bold;
        text-decoration: none;

        &:hover {
            color: $brand-black;
            text-decoration: underline;
        }
    }
}

.desktop {
    .mobile-link {
        color: $brand-grey !important;
        cursor: default !important;
        text-decoration: none !important;
    }
}

.display-none {
    display: none;
}

.opacity-zero {
    opacity: 0;
}

/* styling select dropdown form field */
select {
    background: transparent;
    background: url('../images/bg-select.png') right center no-repeat !important;
    padding-right: 50px !important;
}

/* CAUTION: IE hackery ahead */
select::-ms-expand {
    display: none; /* remove default arrow in IE 10 and 11 */
}

/* target Internet Explorer 9 to undo the custom arrow */
@media screen and (min-width:0\0) {
    select {
        background:none\9;
        padding: 5px\9;
    }
}

select {
    &.short-select {
        width: 60px;
        display: inline;
        float: left;
    }
}

p {
    margin-bottom: 15px;
}

.col-xs-0 {
    @media (max-width: $width-xs) {
        width: 100% !important;
        .row {
            > div {
                width: 100% !important;
            }
        }
    }
}

.empty-content {
    height: 715px;
}

