
.container {
    width: 1170px;
    @media (max-width: $width-lg){
        width: 100%;
    }
}

.product-highlight {
    .container {
        position: relative;
        overflow: hidden;
    }
}

.content {
    .container {
        @media (max-width: $width-lg){
            padding-right: 0;
            padding-left: 0;
        }
    }
}

.cleft {
    clear: left;
}

.content {
    padding: 20px 0;
    margin-bottom: 10px;

    .large-cta {
        background: url("../images/bg-heading.png") 0 center no-repeat;
        padding: 15px 15px 12px 15px;
        display: inline-block;
        @include transition(all 0.25s);

        @media (max-width: $width-md) {
            padding: 10px;
            font-size: 0.7em;
        }

        &:hover {
            background: url("../images/bg-heading.png") -15px center no-repeat;
            //padding-left: 20px;
        }
    }
}

.section {
    position: relative;
}

form {

    label {
        font-weight: normal !important;
    }

    .form-group {
        [readonly] {
            background: #ffffff !important; // done for date widget, edit as you like
        }
    }

    input, select, textarea, button, .form-control {

        @include border-radius(2px);
        box-shadow: none !important;
        border-color: $brand-coal !important;
        font-family: 'Open Sans', sans-serif;
        font-weight: normal !important;

        &:focus {
            border-color: #000000 !important;
            box-shadow: none !important;
        }
    }

    input, select, textarea, button {

        &:not([type="checkbox"]) {
            -webkit-appearance: none;
            -moz-appearance:    none;
            appearance:         none;
        }
    }

    input, select, textarea {
        color: #000000;
     }

    .form-horizontal {
        padding-bottom: 15px;

        label:not(.checkbox-right) {
            font-weight: normal !important;
            text-align: left !important;
        }
    }

    .form-inline {
        label {
            display: block;
            float: left;
        }
        
        input {
            float: none !important;
        }

        .form-group {
            margin: 0 !important;
            width: 100%;
        }
    }

    .form-3-char {
        width: 40% !important;
    }

    .checkbox-right,
    .checkbox-left {
        position: relative;
        width: 100%;
        min-height: 30px;

        span {
            display: inline-block;
        }

        input {
            position: absolute;
            top: 4px;
            width: 15px;
            height: 15px;
            outline: none !important;
            cursor: pointer;
            margin: 0;
        }
    }

    .checkbox-right {
        text-align: right !important;

        span {
            padding-right: 27px;
        }

        input {
            right: 0;
        }
    }

    .checkbox-left {
        text-align: left !important;

        span {
            padding-left: 27px;
        }

        input {
            left: 0;
        }
    }

    .error-message {
        display: none;
        padding-top: 2px;
        color: $brand-red;
        font-size: 0.8em;
    }

    .error {
        .error-message {
            display: block;
        }
    }

    textarea {
        resize: none;
    }

    .stacked-group {
        label {
            margin-bottom: 5px !important;
            padding-top: 0 !important;
        }
    }
}

.btn {
    border: none;
    @include border-radius(1px);
    @include transition(all 0.25s);
    font-family: league_gothicregular;
    text-transform: uppercase;
    font-size: 1.5em;
    color: $brand-red-btn;
    background-color: $brand-grey-btn;
    outline: none !important;
    padding: 6px 8px 6px 12px;

    i {
        font-size: 0.75em;
    }

    &:hover {
        background-color: $brand-coal;
        color: $brand-white;
    }

    &.btn-reverse {
        background-color: $brand-red;
        color: $brand-grey-btn;

        &:hover {
            background-color: $brand-coal;
            color: $brand-white;
        }
    }
}

.badge {
    border: none;
    @include border-radius(1px);
    @include transition(all 0.25s);
    font-family: league_gothicregular;
    text-transform: uppercase;
    font-size: 1.5em;
    background-color: $brand-red;
    color: $brand-white;
    outline: none !important;
    padding: 6px 12px;
    font-weight: normal;
    line-height: 1.42857143;
}

.links-list {
    .btn,
    .badge {
        margin-bottom: 10px;
        @media (max-width: $width-sm) {
            display: block;
        }
    }
}


h1, h2, h3 {
    margin: 0;
    padding: 0 0 15px 0;
    font-weight: bold;
    font-family: league_gothicregular;
}

h2 {
    font-size: 2.8em;
    span {
        display: block;
        font-size: 0.8em;
    }

    a {
        color: $brand-dark-red;
        @include transition(color 0.25s);
        outline: none !important;
        text-decoration: none !important;

        &:focus {
            color: $brand-dark-red;
        }

        &:hover {
            color: $brand-coal;
        }

        i {
            font-size: 0.6em;
        }
    }

    &+h3 {
        //margin-top: -10px;
    }
}

h3 {
    font-size: 2.0em;
}

h4 {
    padding: 0 0 10px 0;
    margin: 0;

    &.title {
        font-family: league_gothicregular;
        font-size: 2.0em;
    }
}

a {
    color: $brand-blue;
    @include transition(color 0.25s);

    &:hover {
        color: $brand-coal;
        text-decoration: none;
    }

    &.large-anchor {
        color: $brand-dark-red;
        font-family: league_gothicregular;
        text-transform: uppercase;
        font-size: 2.3em;
        display: block;
        clear: both;
        text-decoration: none !important;

        &:hover {
            color: $brand-coal;
        }

        i {
            font-size: 0.6em;
        }
    }

    &.more-link {
        font-weight: bold;
        color: $brand-dark-red;

        &::after {
            content: "...";
        }
    }
}

.strong {
    font-weight: bold;
}

.detail {

    a {
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }

    .article-link {
        color: $brand-red;
        font-weight: bold;
        text-decoration: none;

        &:hover {
            color: $brand-black;
        }
    }
}

.desktop {
    .mobile-link {
        color: $brand-grey;
        cursor: default;
    }
}

.display-none {
    display: none;
}

.opacity-zero {
    opacity: 0;
}


/* styling select dropdown form field */
select {
    background: transparent;
    background: url('../images/bg-select.png') right center no-repeat !important;
}

/* CAUTION: IE hackery ahead */
select::-ms-expand {
    display: none; /* remove default arrow in IE 10 and 11 */
}

/* target Internet Explorer 9 to undo the custom arrow */
@media screen and (min-width:0\0) {
    select {
        background:none\9;
        padding: 5px\9;
    }
}

select {
    &.short-select {
        width: 60px;
        display: inline;
        float: left;
    }
}