
$width-xs: 480px;
$width-sm: 768px;
$width-md: 992px;
$width-lg: 1200px;

$brand-blue:        #1c3389;
$brand-red:         #d73037;
$brand-coal:        #333333;
$brand-black:       #111111;
$brand-white:       #ffffff;
$brand-grey:        #666666;


$brand-vGrey:       #e1e1e1;
