@import "variables";
@import "mixins";
@import "fonts";
@import "scaffolding";

body {
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    background-color: #ffffff;
    font-size: 16px;
}

.aux-navigation {

    ul {
        @extend %cleanUl;
    }

    li {
        display: inline;

        &:nth-last-child(1){
            .icon {
                padding-right: 12px;
            }
        }
    }

    a {
        display: inline-block;
        font-size: 0.85em;
        padding: 12px;
        text-align: center;
        text-decoration: none;

        @media (max-width: $width-md) {
            font-size: 1.0em;
        }

        &:hover {
            text-decoration: underline;
        }
    }

    .text {
        @extend %visuallyHidden;
    }

    .icon {
        padding: 12px 10px;
        font-size: 1.0em;

        &:hover {
            background: $brand-blue;
            color: $brand-white;
        }
    }

    @media (max-width: $width-md) {

        .icon {
            display: none;
        }

        a {
            padding: 10px 5px 20px 5px;
        }
    }

    @media (max-width: $width-xs) {

        a {
            padding: 10px 0 0 0;
            text-align: right;
        }

        li {
            text-align: right;
            display: block;

            &:nth-child(2){
                a {
                    padding: 5px 0 15px 0;
                }
            }
        }
    }
}

.main-navigation {
    $nav-border-colour: lighten($brand-red, 40%);

    a {
        outline: none !important;
    }

    ul {
        @extend %cleanUl;
        border-top: 1px solid $nav-border-colour;
        float: left;
    }

    > ul {
        > li {
            > a {
                font-family: osp-dindin;
                outline: none !important;
            }
        }
    }

    li {
        float: left;
        position: relative;

        &.hover {
            > a {
                color: $brand-blue;
            }
            > ul {
                display: block;
            }
        }
    }

    ul ul {
        position: absolute;
        display: none;
        left: 0;
        top: 100%;
        z-index: 2;
        width: 220px;
        background-color: $brand-white;
        border: 1px solid $nav-border-colour;
        -webkit-box-shadow: 0 4px 10px 0 rgba(0,0,0,0.35);
        -moz-box-shadow: 0 4px 10px 0 rgba(0,0,0,0.35);
        box-shadow: 0 4px 10px 0 rgba(0,0,0,0.35);

        > li {
            float: none;
            a {
                text-transform: capitalize;
                text-align: left;
                padding: 5px 10px;
                font-size: 0.95em;
                font-weight: bold;
                @include transition(background 0.25s);
            }

            &.hover,
            &:hover {
                background: lighten($brand-grey, 50%);
            }
        }
    }

    ul ul ul {
        left: 100%;
        top: -1px;

        li {
            &:hover {
                background: lighten($brand-grey, 50%);
            }

        }
    }

    a {
        display: block;
        font-size: 2.0em;
        padding: 12px 10px;
        text-align: center;
        color: $brand-grey;
        text-transform: uppercase;
        text-decoration: none;
        @include transition(color 0.25s);

        &:hover {
            color: $brand-blue;
        }
    }

    .active {
        a {
            color: $brand-blue;
        }
    }

    @media (max-width: $width-lg) {
        a {
            font-size: 1.6em;
        }
    }

    @media (max-width: $width-md) {

        > ul {
            display: none;
        }
    }

    .has-menu {

        .has-menu {

            i {
                float: right;
                margin-top: 3px;
            }
        }
    }

    .sector-nav {

        a {
            padding: 3px 10px;
        }
    }

    .sector-icon {
        float: left;
        width: 42px;
        height: 48px;
        margin-right: 15px;
    }

    .text {
        line-height: 47px;
        height: 48px;
    }
}

.sector-icon {
    background-size: contain;

    &.agriculture {
        background-image: url('../images/sector-icons/agriculture.png');
        &.white {
            background-image: url('../images/filter-icons/agriculture.png');
        }
    }

    &.forestry {
        background-image: url('../images/sector-icons/forestry.png');
        &.white {
            background-image: url('../images/filter-icons/forestry.png');
        }
    }

    &.renewables {
        background-image: url('../images/sector-icons/renewables.png');
        &.white {
            background-image: url('../images/filter-icons/renewables.png');
        }
    }

    &.municipal {
        background-image: url('../images/sector-icons/municipal.png');
        &.white {
            background-image: url('../images/filter-icons/municipal.png');
        }
    }

    &.engineering {
        background-image: url('../images/sector-icons/engineering.png');
        &.white {
            background-image: url('../images/filter-icons/engineering.png');
        }
    }

    &.waste {
        background-image: url('../images/sector-icons/waste.png');
        &.white {
            background-image: url('../images/filter-icons/waste.png');
        }
    }

    &.construction {
        background-image: url('../images/sector-icons/construction.png');
        &.white {
            background-image: url('../images/filter-icons/construction.png');
        }
    }
}

.vehicle-icon {
    background-size: contain;

    &.backhoe {
        background-image: url('../images/filter-icons/back-hoe.png');
    }

    &.forklift {
        background-image: url('../images/filter-icons/forklift.png');
    }

    &.front-loader {
        background-image: url('../images/filter-icons/front-loader.png');
    }

    &.skid-steer {
        background-image: url('../images/filter-icons/skid-steer.png');
    }

    &.telehandler {
        background-image: url('../images/filter-icons/telehandler.png');
    }

    &.tractor {
        background-image: url('../images/filter-icons/tractor.png');
    }

    &.load-shovel {
        background-image: url('../images/filter-icons/load-shovel.png');
    }
}

.toggle-navigation {
    margin-top: 7px;
    opacity: 1 !important;
    outline: none !important;

    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
        width: 40px;
        height: 6px;
        background-color: $brand-red;
    }

    @media (min-width: $width-md + 1) {
        display: none;
    }

    &.is-active {
        margin-right: -10px;
    }
}

.logo {
    margin-top: -10px;
    padding-bottom: 0;

    img {
        width: 100%;
    }

    @media (max-width: $width-md) {
        width: 265px;
    }

    @media (max-width: $width-sm) {
        width: 190px;
    }
}

.skirt {
    height: 27px;
    background-color: $brand-blue;
    width: 100%;
    margin-top: -12px;

    @media (max-width: $width-md) {
        margin-top: -9px;
        height: 36px;
    }

    @media (max-width: $width-sm) {
        margin-top: -5px;
        height: 17px;
    }
}

.main-carousel {
    background-position: center;
    background-size: cover;
    @include transition(background 1.0s);

    .slides {
        height: 400px;
        position: relative;

        @media (max-width: $width-sm) {
            height: 300px;
        }
    }

    .slide:not(.active) {
        @extend %visuallyHidden;
    }

    .slide {
        background: $brand-white;
        background: rgba(255, 255, 255, 0.8);
        padding: 20px;
        @include border-radius(1px);
        width: 50%;
        position: absolute;
        bottom: 0;
        left: 0;
        -webkit-box-shadow: 0 0 4px 1px rgba(0,0,0,0.16);
        -moz-box-shadow: 0 0 4px 1px rgba(0,0,0,0.16);
        box-shadow: 0 0 4px 1px rgba(0,0,0,0.16);

        @media (max-width: $width-sm) {
            width: 100%;
        }

        p {
            &:nth-last-child(1){
                margin-bottom: 0;
            }
        }
    }

    .title {
        color: $brand-coal;

        span {
            color: $brand-blue;
        }
    }

    .slide-controls {
        float: left;

        ul {
            float: left;
            @extend %cleanUl;
        }

        li {
            float: left;
            padding: 15px 0 15px 15px;
        }

        a {
            display: block;
            width: 20px;
            height: 20px;
            @include border-radius(50%);
            background: $brand-white;
            text-indent: -9000px;
            @include transition(opacity 0.5s);
            outline: none !important;
            opacity: 0.4;

            &:hover,
            &.active{
                opacity: 1.0;
            }
        }

        @media (max-width: $width-sm) {

            li {
                float: left;
                padding: 15px 10px 15px 15px;
            }

            a {
                width: 25px;
                height: 25px;
            }
        }

        &.controls-not-ready {
            height: 53px;

            * {
                display: none;
            }
        }
    }
}

.title,
.subtitle {
    line-height: 100%;
    font-weight: normal;
}

.product-highlight,
.page-heading {
    background: $brand-red;
    box-shadow: inset 0 2px 6px -2px rgba(0,0,0,0.20), inset 0px -2px 6px -2px rgba(0,0,0,0.20);

    .title {
        color: $brand-white;

        span {
            color: $brand-dark-red;
        }
    }

    .padded-prefix {
        padding-bottom: 3px;
    }

    .subtitle {
        color: $brand-dark-red;
    }

    .detail {
        color: $brand-white;
    }

    .product-link {
        display: block;
    }

    ul {
        padding-left: 20px;
    }

    .img-mm {
        padding-bottom: 20px;
    }

    .vehicle-icon,
    .sector-icon {
        width: 42px;
        height: 48px;
        display: inline-block;
        margin-right: 5px;
    }

    .sector-list,
    .vehicle-list {
        @extend %cleanUl;
        float: left;
        clear: left;
        width: 100%;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);

        li {
            float: left;
            text-align: center;
            padding-bottom: 10px;
            padding-right: 10px;
            width: 90px;

            a {
                display: block;
            }

            color: #ffffff;
            text-transform: uppercase;
            font-size: 0.75em;
        }

        i {
            display: inline-block;
            width: 63px;
            height: 72px;
            margin: 0;
        }
    }

    .vehicle-list {
        border: none;
        padding-top: 20px;

        li {
            color: #000000 !important;
        }
    }

    button {
        background-color: $brand-white;
        color: $brand-red;
    }
}

.page-heading {

    .detail {

        p {
            &:nth-last-child(1){
                margin-bottom: 0;
            }
        }
    }
}

.single-item {
    border-bottom: 1px solid $brand-grey-light;

    &:nth-last-child(1){
        border-bottom: none;
    }

    .vehicle-icon,
    .sector-icon {
        width: 42px;
        height: 48px;
        display: inline-block;
    }

    .sector-vehicle-list {
        @extend %cleanUl;
        float: left;

        li {
            float: left;
            text-align: center;
            padding-bottom: 10px;
            width: 80px;
            margin-right: 10px;

            color: #000000;
            text-transform: uppercase;
            font-size: 0.7em;

            span {
                display: block;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                text-transform: uppercase;
            }
        }
    }
}

.page-heading {
    margin-top: 20px;

    .img-mm {
        margin-top: -30px;
        padding-bottom: 0;
        margin-bottom: 0;

        @media (max-width: $width-sm) {
            margin-top: 0;
        }
    }
}

.img-mm {
    width: 100%;
    margin-bottom: 10px;
    @include border-radius(1px);
}

.img-icon-box {
    text-align: center;

    .img-icon {
        display: inline-block;
        margin-bottom: 15px;
    }
}

.footer {
    background: $brand-blue;
    @include dropShadow(true);

    .container {
        padding-top: 15px;
        padding-bottom: 35px;
        background: url("../images/bg-footer.png") bottom right no-repeat;
    }
    
    .footer-links {
        text-align: center;
        @extend %cleanUl;

        li {
            float: left;

            a {
                display: block;
                color: #ffffff;
                font-size: 1.0em;
                padding: 10px;
                text-decoration: none;

                &:hover {
                    color: $brand-white;
                    text-decoration: underline;
                }
            }
        }
    }

    .footer-copy {
        text-align: center;
        color: #ffffff;
        font-size: 0.85em;
        padding: 15px 0;

        a {
            color: $brand-white;
            text-decoration: none;

            &:hover {
                color: #ffffff;
            }
        }
    }
}

#container-product-filter {
    position: relative;
    overflow: hidden;
    @include transition(height, 0.5s);
}

#product-becomes-filter {
    position: absolute;
    top: 0;
    right: 30px;

    @media (max-width: $width-lg) {
        right: 15px;
    }

    @media (max-width: $width-xs) {
        left: 15px !important;
    }
}

#feature-filter-switcher {

    i {
        font-size: 0.8em;
        margin-left: 5px;
    }

    &.feature {
        .feature-label {
            display: none;
        }
        .filter-label {
            display: inline-block;
        }
    }

    &.filter {
        .feature-label {
            display: inline-block;
        }
        .filter-label {
            display: none;
        }
    }
}

#product-feature,
#product-filter {
    position: absolute;
    bottom: 0;
    left: 15px;
    right: 15px;
    background: $brand-red;
    overflow: auto;

    @media (max-width: $width-xs) {
        padding-top: 65px;
    }

    @media (max-width: $width-lg) {
        left: 0;
        right: 0;
    }

    &.static {
        position: static;
    }

    &:not(.visible) {
        @extend %visuallyHidden;
    }

    form {
        button {
            float: right;
        }
    }
}

#product-filter {

    fieldset {
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        margin-bottom: 10px;

        @media (max-width: $width-xs) {
            border-bottom: none;
            margin-bottom: 0;
        }
    }

    legend {
        font-family: league_gothicregular;
        text-transform: uppercase;
        color: #ffffff;
        font-size: 2.8em;
        margin: 0;
        border: none;
        line-height: 100%;
        padding: 0 0 20px 0;

        &.inverted {
            color: $brand-black;
        }
    }

    ul {
        @extend %cleanUl;
        float: left;
        width: 100%;
        text-align: justify;
        color: $brand-white;

        li {
            display: inline-block;
            text-align: center;
        }
    }

    .inverted {
        input[type=checkbox] + label,
        input[type=radio] + label {
            color: $brand-black;
        }
    }

    input {
        @include transition(all, 0.25s);
    }

    @media (min-width: $width-md) {

        input[type=checkbox],
        input[type=radio] {
            display: none;
        }

        input[type=checkbox] + label,
        input[type=radio] + label {
            background-size: 100%;
            width: 90%;
            display: inline-block;
            opacity: 0.5;
            cursor: pointer;
            background-repeat: no-repeat;
            background-position: top center;

            padding-top: 110%;
            color: $brand-white;
            font-weight: bold;
            font-size: 0.75em;
            text-align: center;

            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            text-transform: uppercase;
            @include transition(all, 0.25s);

            &:hover {
                opacity: 1 !important;
            }
        }

        input[type=checkbox]:checked + label,
        input[type=radio]:checked + label {
            opacity: 1 !important;
            text-decoration: underline !important;
            font-weight: bold;
        }

        input[data-sector="agriculture"] + label { background-image: url('../images/filter-icons/agriculture.png'); }
        input[data-sector="forestry"] + label { background-image: url('../images/filter-icons/forestry.png'); }
        input[data-sector="municipal"] + label { background-image: url('../images/filter-icons/municipal.png'); }
        input[data-sector="construction"] + label { background-image: url('../images/filter-icons/construction.png'); }
        input[data-sector="waste"] + label { background-image: url('../images/filter-icons/waste.png'); }
        input[data-sector="engineering"] + label { background-image: url('../images/filter-icons/engineering.png'); }
        input[data-sector="renewables"] + label { background-image: url('../images/filter-icons/renewables.png'); }

        input[data-sector="tractor"] + label { background-image: url('../images/filter-icons/tractor.png'); }
        input[data-sector="backhoe"] + label { background-image: url('../images/filter-icons/back-hoe.png'); }
        input[data-sector="load-shovel"] + label { background-image: url('../images/filter-icons/load-shovel.png'); }
        input[data-sector="telehandler"] + label { background-image: url('../images/filter-icons/telehandler.png'); }
        input[data-sector="front-loader"] + label { background-image: url('../images/filter-icons/front-loader.png'); }
        input[data-sector="forklift"] + label { background-image: url('../images/filter-icons/forklift.png'); }
        input[data-sector="skid-steer"] + label { background-image: url('../images/filter-icons/skid-steer.png'); }
    }
}

// small screen nav styles override
.mm-listview>li>a,
.mm-listview>li>span {
    padding: 15px 15px 15px 25px;
    text-transform: uppercase;
}

.mm-navbar .mm-title {
    text-transform: uppercase;
    text-align: left;
}

#mm-1 {
    .mm-title {
        @extend %visuallyHidden;
    }
}

#mm-blocker {
    -webkit-box-shadow: 3px 0 5px 0 rgba(0,0,0,0.17);
    -moz-box-shadow: 3px 0 5px 0 rgba(0,0,0,0.17);
    box-shadow: 3px 0 5px 0 rgba(0,0,0,0.17);
}

.mm-panel {
    background: #fefdfb;
}

.mm-panels {
    .sector-icons {

        li {

            a {
                position: relative;
                padding-left: 55px;
            }
        }

        .sector-icon {
            position: absolute;
            width: 21px;
            height: 24px;
            top: 50%;
            margin-top: -12px;
            left: 20px;
        }
    }
}

.product-extras {
    @extend %cleanUl;
    float: left;
    width: 100%;
    overflow: hidden;
    margin-bottom: 30px;

    li {
        float: left;
        padding: 10px 10px 10px 10px;
        font-size: 0.75em;
        width: 25%;
        border-bottom: 5px solid $brand-white;
        border-right: 5px solid $brand-white;
        background: $brand-grey-light;

        .title {
            font-size: 1.1em;
            padding-bottom: 5px;
            font-weight: bold;
        }

        .unit-price {
            font-size: 1.0em;
            font-weight: bold;
            color: $brand-blue;
        }

        p {
            margin-bottom: 0;
            padding-bottom: 0;
        }

        @media (max-width: $width-md) {
            width: 50%;
        }

        @media (max-width: $width-xs) {
            width: 100%;
            border-bottom: 1px solid #ffffff;
        }
    }

    a {
        display: block;

        img {
            @include transition(all, 0.25s);
        }

        &:hover {
            img {
                -webkit-filter: brightness(120%);
                filter: brightness(120%);
            }
        }
    }
}

.header-board {
    padding: 10px 10px 0 10px;
    background: $brand-grey-light;

    .title {
        border-bottom: 1px solid $brand-white;
        padding-bottom: 5px;
    }
}

.product-variations {
    width: 100%;
    margin-bottom: 20px;

    caption {
        font-family: league_gothicregular;
        text-transform: uppercase;
        padding: 10px;
        background: $brand-grey-light;
        color: $brand-black;
        font-size: 2.5em;
        border-bottom: 1px solid #ffffff;
    }

    th {
        white-space: nowrap;
        background: $brand-grey-light;
    }

    td, th {
        font-size: 0.75em;
        padding: 10px;
        font-weight: bold;
        vertical-align: top;

        border-right: 1px solid #ffffff;
    }

    .money {
        text-align: right;
    }

    .green {
        text-align: center;
        text-transform: uppercase;
        color: #4cae4c;
    }

    tr {

        td, th {
            &:nth-last-child(1){
                border-right: none;
            }
        }

        &:nth-child(odd){

            td {
                background: $brand-grey-light;
            }
        }
    }

    @media (max-width: $width-md) and (min-width: $width-sm) {

        th  {
            background: $brand-grey;
            color: $brand-white;

            &:first-child{
                display: none;
            }
        }

        td, th  {
            display: block;
            border-bottom: 1px solid $brand-white;
            float: left;
            width: 25%;
            border-right: none;

            &:first-child{
                float: none;
                width: 100%;
                font-size: 0.9em;
                border-right: none;
            }
        }

        tr {
            &:nth-child(even){
                td {
                    border-color: $brand-grey-light;
                }
            }
        }
    }
}

.table-key {
    font-size: 0.85em !important;

    h4 {
        font-size: 1.0em !important;
    }

    dt {
        float: left;
        padding-right: 3px;

        &::after {
            content: " = ";
        }
    }

    dd {
        float: left;
        padding-right: 10px;

        &::after {
            content: ",";
        }

        &:nth-last-child(1){

            &::after {
                content: ".";
            }
        }
    }
}

.price {
    display: block;
    font-family: league_gothicregular;
    color: $brand-blue;
    font-size: 2.8em;
    line-height: 100%;
    padding-bottom: 10px;
}

.product-id,
.attachment-type,
.article-date,
.document-type {
    color: $brand-blue;
    font-weight: 700;
}

.other-views {
    @extend %cleanUl;
    float: left;
    margin: 0 -5px;
    overflow: hidden;

    li {
        float: left;
        width: 25%;
    }

    a {
        display: block;
        margin: 0 5px;
    }

    img {
        width: 100%;
    }
}

.other-news {
    @extend %cleanUl;

    li {
        border-bottom: 1px solid $brand-grey-light;
        margin-bottom: 25px;
        padding-bottom: 15px;

        &:nth-last-child(1){
            border-bottom: none;
            margin-bottom: 0;
        }
    }
}

blockquote{
    display: block;
    background: #fff;
    padding: 0 20px 20px 45px;
    margin: 0;
    position: relative;
    border: none;

    &::before {
        content: "\201C"; /*Unicode for Left Double Quote*/

        font-family: league_gothicregular;
        font-size: 6.0em;
        font-weight: bold;
        color: $brand-grey-light;
        line-height: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }

    &::after{
        /*Reset to make sure*/
        content: "";
    }

    footer {
        font-family: league_gothicregular;
        font-size: 1.5em;
        line-height: 100%;
        padding-top: 5px;
    }
}

#timed-carousel {
    width: 100%;
    background-position: top center;
    @include transition(background 1.0s);
    margin-bottom: 10px;

    .slide {
        @extend %visuallyHidden;
    }

    .slides {
        height: 270px;
        width: 100%;
        position: relative;
    }

    .slide-progress-bar {
        width: 100%;
        height: 3px;
        background-color: $brand-grey-light;
        position: absolute;
        bottom: -28px;
        left: 0;

        > div {
            width: 100%;
            height: 100%;
            background-color: $brand-red;
            @include transition(width 30s);
            transition-timing-function: linear;
        }
    }
}

.sector-pod {
    margin-bottom: 25px;

    img {
        margin: 0;
    }

    span {
        display: inline-block;
        padding: 6px 12px 4px 12px;
        font-family: league_gothicregular;
        font-size: 1.5em;

        i {
            font-size: 0.75em;
        }
    }

    a {
        display: block;
        color: $brand-red-btn;
        background: $brand-grey-btn;
        @include transition(all, 0.5s);
        text-transform: uppercase;

        &:hover {
            color: $brand-white;
            background: $brand-coal;
        }
    }
}

.google-maps {
    position: relative;
    padding-bottom: 75%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
    margin-bottom: 20px;
    background: $brand-grey-btn;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }
}

@media (min-width: 992px) {
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1 {
        width: 14.285714285714285714285714285714%;
        *width: 14.285714285714285714285714285714%;
    }
}

.mm-pagination {
    padding: 15px;

    @media (min-width: $width-sm) {
        text-align: center;
    }

    a {
        border: none;
        @include border-radius(1px);
        margin: 0 5px 5px 5px;
    }

    .active {
        a {
            background-color: $brand-blue;
            border-color: $brand-blue;
        }
    }
}
