@import "variables";
@import "mixins";
@import "fonts";
@import "scaffolding";
@import "buttons";

html { overflow-y: scroll; }

body {
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    background-color: #ffffff;
    font-size: 16px;
}

.aux-navigation {

    ul {
        @extend %cleanUl;
    }

    li {
        display: inline;
    }

    a {
        display: inline-block;
        font-size: 0.8em;
        padding: 12px 15px;
        text-align: center;
        text-decoration: none;
    }

    .text {
        @extend %visuallyHidden;
    }

    .icon {
        padding: 12px 5px;
        font-size: 1.0em;
    }
}

.main-navigation {

    ul {
        @extend %cleanUl;
        border-top: 1px solid lighten($brand-red, 40%);
    }

    li {
        display: inline;
    }

    a {
        display: inline-block;
        font-size: 2.0em;
        padding: 15px 10px;
        text-align: center;
        color: $brand-grey;
        text-transform: uppercase;
        text-decoration: none;
        font-family: osp-dindin;
        @include transition(color 0.25s);

        &:hover {
            color: $brand-blue;
        }
    }

    @media (max-width: $width-md) {

        a {
            font-size: 1.0em;
            padding: 8px 10px;
        }
    }

    @media (max-width: $width-sm) {

        a {
            display: block;
            text-align: right;
            padding: 10px;
        }
    }
}

.logo {
    margin-top: -10px;
}

.skirt {
    height: 27px;
    background-color: $brand-blue;
    width: 100%;
    margin-top: -12px;
}

.footer {
    background: $brand-red;

    .container {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    
    .footer-links {
        text-align: center;
        @extend %cleanUl;

        li {
            display: inline;

            a {
                display: inline-block;
                color: #ffffff;
                font-size: 1.0em;
                text-transform: uppercase;
                padding: 10px;
                text-decoration: none;

                &:hover {
                    color: $brand-white;
                }
            }
        }
    }

    .footer-copy {
        text-align: center;
        color: #ffffff;
        font-size: 0.85em;
        padding: 15px 0;

        a {
            color: $brand-white;
            text-decoration: none;

            &:hover {
                color: #ffffff;
            }
        }
    }
}



.tool-tip {
    color: #000000;
}

span {
    &.logo {
        display: inline-block;
    }
}


