@import "variables";
@import "mixins";
@import "fonts";
@import "scaffolding";
@import "buttons";

body {
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    background-color: #ffffff;
    font-size: 16px;
}

.aux-navigation {

    ul {
        @extend %cleanUl;
    }

    li {
        display: inline;

        &:nth-last-child(1){
            .icon {
                padding-right: 12px;
            }
        }
    }

    a {
        display: inline-block;
        font-size: 0.85em;
        padding: 12px;
        text-align: center;
        text-decoration: none;

        @media (max-width: $width-md) {
            font-size: 1.0em;
        }
    }

    .text {
        @extend %visuallyHidden;
    }

    .icon {
        padding: 12px 10px;
        font-size: 1.0em;
    }

    @media (max-width: $width-md) {

        .icon {
            display: none;
        }

        a {
            padding: 10px 5px 20px 5px;
        }
    }

    @media (max-width: $width-xs) {
        a {
            padding: 10px 0 0 0;
            text-align: right;
        }

        li {
            text-align: right;
            display: block;
            &:nth-child(2){
                a {
                    padding: 5px 0 15px 0;
                }
            }
        }
    }
}

.main-navigation {
    $nav-border-colour: lighten($brand-red, 40%);

    ul {
        @extend %cleanUl;
        border-top: 1px solid $nav-border-colour;
        float: left;
    }

    > ul {
        > li {
            > a {
                font-family: osp-dindin;
                outline: none !important;
            }
        }
    }

    li {
        float: left;
        position: relative;

        &.hover {
            > a {
                color: $brand-blue;
            }
            > ul {
                display: block;
            }
        }
    }

    ul ul {
        position: absolute;
        display: none;
        left: 0;
        top: 100%;
        z-index: 2;
        width: 220px;
        background-color: $brand-white;
        border: 1px solid $nav-border-colour;
        -webkit-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.35);
        -moz-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.35);
        box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.35);

        > li {
            float: none;
            a {
                text-transform: capitalize;
                text-align: left;
                padding: 5px 10px;
                font-size: 0.95em;
                font-weight: bold;
                @include transition(background 0.25s);
            }

            &.hover,
            &:hover {
                background: lighten($brand-grey, 50%);
            }
        }
    }

    ul ul ul {
        left: 100%;
        top: -1px;

        li {
            &:hover {
                background: lighten($brand-grey, 50%);
            }

        }
    }

    a {
        display: block;
        font-size: 2.0em;
        padding: 12px 10px;
        text-align: center;
        color: $brand-grey;
        text-transform: uppercase;
        text-decoration: none;
        @include transition(color 0.25s);

        &:hover {
            color: $brand-blue;
        }
    }

    .active {
        a {
            color: $brand-blue;
        }
    }

    @media (max-width: $width-lg) {
        a {
            font-size: 1.6em;
        }
    }

    @media (max-width: $width-md) {
        > ul {
            display: none;
        }
    }

    .has-menu {
        .has-menu {
            i {
                float: right;
                margin-top: 3px;
            }
        }
    }

    .sector-nav {
        a {
            padding: 3px 10px;
        }
    }

    .sector-icon {
        float: left;
        width: 42px;
        height: 48px;
        background-size: contain;
        margin-right: 15px;

        &.agriculture {
            background-image: url('../images/sector-icon-agriculture.png');
        }

        &.forestry {
            background-image: url('../images/sector-icon-forestry.png');
        }

        &.renewables {
            background-image: url('../images/sector-icon-renewables.png');
        }

        &.municipal {
            background-image: url('../images/sector-icon-municipal.png');
        }

        &.engineering {
            background-image: url('../images/sector-icon-engineering.png');
        }

        &.waste {
            background-image: url('../images/sector-icon-waste.png');
        }

        &.construction {
            background-image: url('../images/sector-icon-construction.png');
        }
    }

    .text {
        line-height: 47px;
        height: 48px;
    }
}

.toggle-navigation {
    margin-top: 7px;
    opacity: 1 !important;
    outline: none !important;
    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
        width: 40px;
        height: 6px;
        background-color: $brand-red;
    }

    @media (min-width: $width-md + 1) {
        display: none;
    }

    &.is-active {
        margin-right: -10px;
    }
}

.logo {
    margin-top: -10px;

    img {
        width: 100%;
    }

    @media (max-width: $width-md) {
        width: 265px;
    }

    @media (max-width: $width-sm) {
        width: 190px;
    }
}

.skirt {
    height: 27px;
    background-color: $brand-blue;
    width: 100%;
    margin-top: -12px;

    @media (max-width: $width-md) {
        margin-top: -9px;
        height: 36px;
    }

    @media (max-width: $width-sm) {
        margin-top: -5px;
        height: 17px;
    }
}

.main-carousel {
    background-position: center;
    background-size: cover;
    @include transition(background 0.75s);

    .slides {
        height: 400px;
        position: relative;

        @media (max-width: $width-sm) {
            height: 300px;
        }
    }

    .slide:not(.active) {
        @extend %visuallyHidden;
    }

    .slide {
        background: $brand-white;
        background: rgba(255, 255, 255, 0.8);
        padding: 20px;
        @include border-radius(2px);
        width: 360px;
        position: absolute;
        bottom: 0;
        left: 0;
        -webkit-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.16);
        -moz-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.16);
        box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.16);

        @media (max-width: $width-sm) {
            width: auto;
        }
    }

    .title {
        color: $brand-coal;

        span {
            color: $brand-blue;
        }
    }

    .slide-controls {
        float: left;

        ul {
            float: left;
            @extend %cleanUl;
        }

        li {
            float: left;
            padding: 15px 0 15px 15px;
        }

        a {
            display: block;
            width: 20px;
            height: 20px;
            @include border-radius(50%);
            background: $brand-white;
            text-indent: -9000px;
            @include transition(background 0.5s);

            &:hover,
            &.active{
                background: $brand-red;
            }
        }

        @media (max-width: $width-sm) {

            li {
                float: left;
                padding: 15px 10px 15px 15px;
            }

            a {
                width: 25px;
                height: 25px;
            }
        }
    }
}

.title {
    text-transform: uppercase;
    font-size: 2.8em;
    padding-bottom: 5px;
    line-height: 90%;
    font-weight: normal;

    span {
        display: block;
        font-size: 0.8em;
    }
}

.content {
    padding: 20px 0;

    .heading {
        background: url("../images/bg-heading.png") left center no-repeat;
        padding: 15px 10px 7px 15px;
        margin-bottom: 15px;

        a {
            color: $brand-dark-red;

            i {
                font-size: 0.6em;
            }

            &:hover {
                color: $brand-coal;
            }
        }

        @media (max-width: $width-md) {
            padding: 0 0 0 10px;

            a {
                font-size: 0.7em;
            }
        }
    }
}

.product-highlight {
    background: $brand-red;
    height: 360px;
    padding: 15px 0;

    .title {
        color: $brand-white;

        span {
            color: $brand-dark-red;
        }
    }
}

.footer {
    background: $brand-blue;

    .container {
        padding-top: 15px;
        padding-bottom: 35px;
        background: url("../images/bg-footer.png") bottom right no-repeat;
    }
    
    .footer-links {
        text-align: center;
        @extend %cleanUl;

        li {
            float: left;

            a {
                display: block;
                color: #ffffff;
                font-size: 1.0em;
                padding: 10px;
                text-decoration: none;

                &:hover {
                    color: $brand-white;
                }
            }
        }
    }

    .footer-copy {
        text-align: center;
        color: #ffffff;
        font-size: 0.85em;
        padding: 15px 0;

        a {
            color: $brand-white;
            text-decoration: none;

            &:hover {
                color: #ffffff;
            }
        }
    }
}

.tool-tip {
    color: #000000;
}

span {
    &.logo {
        display: inline-block;
    }
}


// small screen nav styles override
.mm-listview>li>a,
.mm-listview>li>span {
    color: inherit;
    display: block;
    padding: 15px 15px 15px 25px;
    margin: 0;
    font-family: osp-dindin;
    text-transform: uppercase;
    font-size: 1.5em;
}

.mm-navbar .mm-title {
    font-family: osp-dindin;
    text-transform: uppercase;
    font-size: 1.1em;
    text-align: left;
    padding-top: 12px;
}

#mm-1 {
    .mm-title {
        @extend %visuallyHidden;
    }
}

#mm-blocker {
    -webkit-box-shadow: 3px 0px 5px 0px rgba(0,0,0,0.17);
    -moz-box-shadow: 3px 0px 5px 0px rgba(0,0,0,0.17);
    box-shadow: 3px 0px 5px 0px rgba(0,0,0,0.17);
}

.mm-panel {
    background: #fefdfb;
}


