
$width-xs: 480px;
$width-sm: 768px;
$width-md: 992px;
$width-lg: 1200px;

$brand-blue:        #00365a;
$brand-red:         #98322e;
$brand-white:       #faf6dd;
$brand-black:       #6a6a6a;
$brand-grey:        #c4c4c4;
$brand-vGrey:       #e1e1e1;
$brand-coal:        #adadad;
