{% extends "layout.html" %}

{% block navigation %}
    {% import 'macros/main-navigation-macro.html' as nav %}
    {{nav.active('about')}}
{% endblock %}

{% block content %}
    <div class="section">
        <div class="content page-heading">
            <div class="container">
                <div class="col-sm-12">
                    <h2 class="title text-uppercase">About Murray Machinery</h2>
                    <div class="detail">
                        <p>Get to know us a little more</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="content"><!-- -->
            <div class="container">

                <div class="empty-content"></div>

            </div>
        </div><!--  ends -->

    </div>
{% endblock %}