{% extends "layout.html" %}

{% block navigation %}
    {% import 'macros/main-navigation-macro.html' as nav %}
    {{nav.active('news')}}
{% endblock %}

{% block content %}
    <div class="section">
        <div class="content page-heading">
            <div class="container">
                <div class="col-sm-12">
                    <h2 class="title text-uppercase">News Article</h2>
                    <div class="detail">
                        <p>Introducing your new favourite machine!</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="content product-item"><!-- news item starts -->
            <div class="container">
                <div class="col-sm-4">
                    <div class="with-other-views">
                        <a href="article.html?id=011"><img src="uploaded/news-image-1.jpg" alt="Introducing your new favourite machine!" class="img-responsive product-image" /></a>
                    </div>
                </div>
                <div class="col-sm-8">
                    <h2 class="title">Introducing your new favourite machine!</h2>
                    <div class="detail">
                        <h4 class="article-date">16/02/2017</h4>
                        <p><a href="warranty.html">Warranty Information Page</a>, at placerat risus. Maecenas a <a href="product.html?id=44">Large Silage Fork</a> ipsum, ut elementum augue. Aliquam ex nibh, suscipit ut venenatis at, sagittis id ligula.</p>
                        <p><a href="testimonials.html">Testimonials Page</a> dui accumsan, pellentesque lectus a, <strong>fringilla nulla</strong>. Proin eu nisl sit amet nibh venenatis venenatis. Nunc iaculis tempor dui, facilisis maximus. Maecenas ut velit eu enim ornare volutpat et ac arcu. </p>
                        <p>Nelis sed ipsum dignissim semper quis at libero. Donec nulla elit, mollis id ultrices a, varius nec quam. Phasellus posuere ex lectus, id commodo massa ultricies at. Aliquam aliquam, ligula sed fringilla interdum, nisi dui eleifend tortor, sed gravida libero est tincidunt nibh. Pellentesque sed justo lacus. Nunc sed interdum orci, quis faucibus arcu. Aliquam ut nisl tortor.</p>
                        <p>Phasellus vitae dui accumsan, <a href="product.html?id=11">Product XYZ</a> lectus a, fringilla nulla. Proin eu nisl sit amet nibh venenatis venenatis. Nunc iaculis tempor dui, facilisis maximus. Maecenas ut velit eu enim ornare volutpat et ac arcu. </p>
                    </div>
                </div>
            </div>
        </div><!-- news item ends -->

        <div class="content product-item"><!-- news item starts -->
        <div class="container">
            <div class="col-sm-12">
                <h2 class="title text-uppercase">Other News</h2>
                <ul class="other-news">
                    <li>
                        <div class="detail">
                            <div class="row">
                                <div class="col-sm-2">
                                    <a href="article.html?id=011"><img src="uploaded/news-image-1.jpg" class="img-responsive product-image" alt="Ready when you are..." /></a></div>
                                <div class="col-sm-10">
                                    <h4 class="title">Ready when you are...</h4>
                                    <p>Desuada ex, at placerat risus. Suspendisse commodo erat quis nisi pretium, sit amet malesuada nisl consequat. Ut ac purus et neque lacinia auctor. ipsum, ut elementum augue. Aliquam ex nibh, suscipit ut venenatis at, sagittis id ligula.</p>
                                    <p><a href="article.html?id=011" class="article-link">Read the full article <i class="glyphicon glyphicon-triangle-right" aria-hidden="true"></i></a></p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="detail">
                            <div class="row">
                                <div class="col-sm-2">
                                    <a href="article.html?id=011"><img src="uploaded/news-image-1.jpg" class="img-responsive product-image" alt="Blue tractor uses yellow product" /></a></div>
                                <div class="col-sm-10">
                                    <h4 class="title">Blue tractor uses yellow product</h4>
                                    <p>Vivamus ac felis sed ipsum dignissim semper quis at libero. Donec nulla elit, mollis id ultrices a, varius nec quam. Phasellus posuere ex lectus, id commodo massa ultricies at. Aliquam aliquam, ligula sed fringilla interdum, nisi dui eleifend tortor, sed gravida libero est tincidunt nibh. Pellentesque sed justo lacus. </p>
                                    <p><a href="article.html?id=011" class="article-link">Read the full article <i class="glyphicon glyphicon-triangle-right" aria-hidden="true"></i></a></p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div><!-- news item ends -->

    </div>
{% endblock %}