{% extends "layout.html" %}

{% block navigation %}
    {% import 'macros/main-navigation-macro.html' as nav %}
    {{nav.active('contact')}}
{% endblock %}

{% block content %}
    <div class="section">
        <div class="content page-heading">
            <div class="container">
                <div class="col-sm-12">
                    <h2 class="title text-uppercase">Contact us</h2>
                </div>
            </div>
        </div>
        <div class="content"><!-- -->
            <div class="container">

                <!--<div class="col-sm-4">-->
                    <!--<div class="with-other-views">-->
                        <!--<a href="article.html?id=011"><img src="uploaded/news-image-1.jpg" alt="Large grabbing hands" class="img-responsive product-image main-view" /></a>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-sm-8">-->
                    <!--<h2 class="title">Introducing your new favourite machine!</h2>-->
                    <!--<div class="detail">-->
                        <!--<h4 class="article-date">16/02/2017</h4>-->
                        <!--<p>Aenean eget malesuada ex, at placerat risus. Maecenas a <a href="product.html?id=44">tempor</a> ipsum, ut elementum augue. Aliquam ex nibh, suscipit ut venenatis at, sagittis id ligula.</p>-->
                        <!--<p>Phasellus vitae dui accumsan, pellentesque lectus a, fringilla nulla. Proin eu nisl sit amet nibh venenatis venenatis. Nunc iaculis tempor dui, facilisis maximus. Maecenas ut velit eu enim ornare volutpat et ac arcu. </p>-->
                        <!--<p>Vivamus ac felis sed ipsum dignissim semper quis at libero. Donec nulla elit, mollis id ultrices a, varius nec quam. Phasellus posuere ex lectus, id commodo massa ultricies at. Aliquam aliquam, ligula sed fringilla interdum, nisi dui eleifend tortor, sed gravida libero est tincidunt nibh. Pellentesque sed justo lacus. Nunc sed interdum orci, quis faucibus arcu. Aliquam ut nisl tortor.</p>-->
                        <!--<p>Phasellus vitae dui accumsan, <a href="product.html?id=11">fringilla nulla</a> lectus a, fringilla nulla. Proin eu nisl sit amet nibh venenatis venenatis. Nunc iaculis tempor dui, facilisis maximus. Maecenas ut velit eu enim ornare volutpat et ac arcu. </p>-->
                    <!--</div>-->
                <!--</div>-->


            </div>
        </div><!--  ends -->
    </div>
{% endblock %}