{% extends "layout.html" %}

{% block navigation %}
    {% import 'macros/main-navigation-macro.html' as nav %}
    {{nav.active('contact')}}
{% endblock %}

{% block content %}
    <div class="section">
        <div class="content page-heading">
            <div class="container">
                <div class="col-sm-12">
                    <h2 class="title text-uppercase">Contact us</h2>
                    <div class="detail">
                        <p>Get in touch or order products</p>
                    </div>
                </div>
            </div>
        </div>


        <div class="content">
            <div class="container">
                <div class="col-xs-12">
                    <h2 class="title">Enquiry form</h2>
                </div>
                <div class="col-md-7">
                    <form id="contact-form" action="thanks.html" class="form-horizontal contact-form" method="get">
                        <div class="form-group">
                            <label for="product" class="col-sm-5 control-label">Product/range of interest</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="product" name="product" placeholder="Product/range of interest">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="machine" class="col-sm-5 control-label">Type of host machine</label>
                            <div class="col-sm-7">
                                <select name="machine" id="machine" class="form-control">
                                    <option value="#" selected>Host machine</option>
                                    <option value="01">Load Shovel</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="sector" class="col-sm-5 control-label">Sector</label>
                            <div class="col-sm-7">
                                <select name="sector" id="sector" class="form-control">
                                    <option value="" selected>Select a sector</option>
                                    <option value="agriculture">Agriculture</option>
                                    <option value="forestry">Forestry</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group error">
                            <label for="first-name" class="col-sm-5 control-label">First name</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="first-name" name="first-name" placeholder="First name">
                                <span class="error-message">Please include a first name</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="last-name" class="col-sm-5 control-label">Last name</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="last-name" name="last-name" placeholder="Last name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="col-sm-5 control-label">Email address</label>
                            <div class="col-sm-7">
                                <input type="email" class="form-control" id="email" name="email" placeholder="Email address">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="phone" class="col-sm-5 control-label">Telephone</label>
                            <div class="col-sm-7">
                                <input type="number" class="form-control" id="phone" name="phone" placeholder="Telephone">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="postcode" class="col-sm-5 control-label">Post code</label>
                            <div class="col-sm-7">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="postcode" name="postcode" placeholder="Post code">
                                    </div>
                                    <div class="col-sm-6">
                                        <button type="button" class="btn btn-inner">Find address</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="address-line-1" class="col-sm-5 control-label">Address line 1</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="address-line-1" name="address-line-1" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="address-line-2" class="col-sm-5 control-label">Address line 2</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="address-line-2" name="address-line-2" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="address-line-3" class="col-sm-5 control-label">Address line 3</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="address-line-3" name="address-line-3" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="country" class="col-sm-5 control-label">Country</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="country" name="country" placeholder="">
                            </div>
                        </div>

                        <!-- Radio buttons and checkboxes if you need them -->
                        <!--<div class="form-group">-->
                            <!--<div class="col-sm-offset-5 col-sm-7">-->
                                <!--<div class="checkbox">-->
                                    <!--<label>-->
                                        <!--<input type="checkbox"> Remember me checkbox-->
                                    <!--</label>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!---->
                        <!--<div class="form-group">-->
                            <!--<div class="col-sm-offset-5 col-sm-7">-->
                                <!--<label class="radio-inline"><input type="radio" name="optradio">Option 1</label>-->
                                <!--<label class="radio-inline"><input type="radio" name="optradio">Option 2</label>-->
                                <!--<label class="radio-inline"><input type="radio" name="optradio">Option 3</label>-->
                            <!--</div>-->
                        <!--</div>-->

                        <div class="form-group">
                            <div class="col-sm-offset-5 col-sm-7 text-right">
                                <button type="submit" class="btn">Send <i class="glyphicon glyphicon-triangle-right" aria-hidden="true"></i></button>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="col-md-5">

                    <div id="map" class="google-maps">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d8606.303257558726!2d-2.208148!3d57.366271999999995!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48846e8e26069e27%3A0xb6192e2291749f0b!2sTarves%2C+Ellon+AB41+7LR%2C+UK!5e0!3m2!1sen!2suk!4v1492253928569"
                                width="100%"
                                height="320"
                                frameborder="0"
                                style="border:0"
                                allowfullscreen>
                        </iframe>
                    </div>

                    <h3 class="title">Murray Machinery</h3>
                    <div class="detail">
                        <p>Dinneswood Garage<br>
                        Tarves,<br>
                        Ellon.<br>
                        AB41 7LR</p>
                        <p><a href="tel:+4401651851880" class="mobile-link">+44&nbsp;(0)1651&nbsp;851&nbsp;880</a><br>
                            <a href="mailto:sales@murraymachinery.co.uk">sales@murraymachinery.co.uk</a>.</p>
                    </div>

                </div>
            </div>
        </div>


    </div>
{% endblock %}