{% extends "layout.html" %}

{% block navigation %}
    {% import 'macros/main-navigation-macro.html' as nav %}
    {{nav.active('info')}}
{% endblock %}

{% block content %}
    <div class="section">
        <div class="content page-heading">
            <div class="container">
                <div class="col-sm-12">
                    <h2 class="title text-uppercase">Our History</h2>
                    <div class="detail">
                        <p>The history of Murray Machinery</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="content product-item"><!-- testimonial item starts -->
            <div class="container">
                <div class="col-sm-12">
                    <h2 class="title">Over 30 years of engineering excellence</h2>
                    <div class="row">
                        <div class="col-sm-6">
                            <img src="uploaded/history-image-4.jpg" alt="Historical image" class="img-responsive product-image" />
                        </div>
                        <div class="col-sm-6">
                            <img src="uploaded/history-image-1.jpg" alt="Historical image" class="img-responsive product-image" />
                        </div>
                    </div>
                    <div class="detail">
                        <p>Established near Aberdeen (UK) in 1979, Murray Machinery are UK agricultural machinery manufacturers who specialise in material handling attachments to fit telescopic handlers, forklifts and loaders.</p>
                        <p>At Murray Machinery we are able to offer the benefit of over 30 years experience in the design and development of all our different attachments. Feedback from our customers is extremely valuable in the evolution of our products to keep up with the ever changing methods and techniques used in the agricultural industry.</p>
                        <h3 class="title">Title sample here</h3>
                        <p>It is also the case that some of our attachments have remained virtually unchanged over the years do to their success and reliability.</p>
                        <p>We're confident you'll agree with our many satisfied customers that Murray Machinery are a great choice for agricultural material handling attachments in the UK.</p>
                    </div>
                    <h2 class="title">Another title in here</h2>
                    <p>Conduct replied off led whether any shortly why arrived adapted. Numerous ladyship so raillery humoured goodness received an. So narrow formal length my highly.</p>
                    <div class="row">
                        <div class="col-sm-6">
                            <img src="uploaded/history-image-2.jpg" alt="Historical image" class="img-responsive product-image" />
                        </div>
                        <div class="col-sm-6">
                            <img src="uploaded/history-image-3.jpg" alt="Historical image" class="img-responsive product-image" />
                        </div>
                    </div>
                    <div class="detail">
                        <p>Attention he extremity unwilling on otherwise. Conviction up partiality as delightful is discovered. Yet jennings resolved disposed exertion you off.</p>
                        <h3 class="title">Another title in here</h3>
                        <p>Left did fond drew fat head poor. So if he into shot half many long. China fully him every fat was world grave. Attention he extremity unwilling on otherwise.</p>
                        <p>Conviction up partiality as delightful is discovered. Yet jennings resolved disposed exertion you off. Left did fond drew fat head poor. So if he into shot half many long. China fully him every fat was world grave.</p>
                        <h3 class="title">Title sample here</h3>
                        <p>Surrounded to me occasional pianoforte alteration unaffected impossible ye. For saw half than cold. Pretty merits waited six talked pulled you.</p>
                    </div>
                </div>
            </div>
        </div><!-- testimonial item ends -->



    </div>
{% endblock %}