{% extends "layout.html" %}

{% block navigation %}
    {% import 'macros/main-navigation-macro.html' as nav %}
    {{nav.active('home')}}
{% endblock %}

{% block content %}
    <div class="section">
        <div class="main-carousel" id="slide-bg" style="background-image: url('uploaded/product-carousel-image-1.png');">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="slides">
                            <div class="slide active" data-slide-bg="uploaded/product-carousel-image-1.png">
                                <h2 class="title text-uppercase"><span>Featured Sector:</span> Agriculture</h2>
                                <p>Experts in agricultural machinery and fabrication <a href="sector.html?id=agriculture" class="more-link" title="More on Agriculture">More</a></p>
                            </div>
                            <div class="slide" data-slide-bg="uploaded/product-carousel-image-2.png">
                                <h2 class="title text-uppercase"><span>Featured Sector:</span> Municipal</h2>
                                <p>Curabitur placerat lectus co or nunc et, mol rsus lobortis. Nulla gravida enim odio <a href="sector.html?id=municipal" class="more-link" title="More on Municipal">More</a></p>
                            </div>
                            <div class="slide" data-slide-bg="uploaded/product-carousel-image-3.png">
                                <h2 class="title text-uppercase"><span>Featured Sector:</span> Forestry</h2>
                                <p>Nulla lob ortis faci sis tortor a finibus. Phasellut in alctus eu eleifend, <a href="sector.html?id=forestry" class="more-link" title="More on Forestry">More</a></p>
                            </div>
                            <div class="slide" data-slide-bg="uploaded/product-carousel-image-4.png">
                                <h2 class="title text-uppercase"><span>Featured Sector:</span> Engineering</h2>
                                <p>Aliquam justo ex, consequat vitae eros vitae, gravida pell urueget <a href="sector.html?id=engineering" class="more-link" title="More on Engineering">More</a></p>
                            </div>
                        </div>
                        <div class="slide-controls controls-not-ready">
                            <ul>
                                <li><a href="#" class="active">0</a></li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="container">
                <div class="col-xs-12">
                    <h2 class="title text-uppercase"><a href="stock.html" class="large-cta">View current stock list <i class="glyphicon glyphicon-triangle-right" aria-hidden="true"></i></a></h2>
                    <div class="detail">
                        <p>We're confident you'll agree with our many satisfied customers that Murray Machinery are a great choice for agricultural material handling attachments in the UK.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="content product-highlight">
            <div id="container-product-filter" class="container">
                <div id="product-feature" class="static visible">
                    <div class="col-sm-5">
                        <h2 class="title"><span class="text-uppercase padded-prefix">Featured product:</span> Large Silage Fork</h2>
                        <p><i class="sector-icon agriculture" aria-hidden="true" title="Suitable for Agriculture"></i>
                            <i class="sector-icon forestry" aria-hidden="true" title="Suitable for Forestry"></i>
                            <i class="vehicle-icon load-shovel" aria-hidden="true" title="Suitable for Load Shovel"></i></p>
                        <div class="detail">
                            <p>The Murray Large Silage Fork is designed for extra capacity when loading chopped grass onto a silage pit.</p>
                            <p>The frame is more heavily constructed and is fitted with extra duty tines bolted into large tapered sockets fitted along the bottom and the sides of the silage fork.</p>
                            <p><a href="product.html" class="large-anchor">View product <i class="glyphicon glyphicon-triangle-right" aria-hidden="true"></i></a></p>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <a href="product.html" class="product-link" title="Large Silage Fork"><img src="uploaded/product-highlight-image-1.png" class="img-responsive img-mm" alt="Large Silage Fork" /></a>
                    </div>                    
                </div>
                <div id="product-filter">
                    <div class="col-sm-12">
                        <form id="product-filter-form" action="products.html" method="get">
                            <fieldset>
                                <legend>Select sector:</legend>
                                <ul>
                                    <li><input type="checkbox" name="agriculture" id="agriculture" value="Agriculture" data-sector="agriculture">
                                        <label for="agriculture">Agriculture</label></li>
                                    <li><input type="checkbox" name="forestry" id="forestry" value="Forestry" data-sector="forestry">
                                        <label for="forestry">Forestry</label></li>
                                    <li><input type="checkbox" name="construction" id="construction" value="Construction" data-sector="construction">
                                        <label for="construction">Construction</label></li>
                                    <li><input type="checkbox" name="engineering" id="engineering" value="Engineering" data-sector="engineering">
                                        <label for="engineering">Engineering</label></li>
                                    <li><input type="checkbox" name="waste" id="waste" value="Waste Handling" data-sector="waste">
                                        <label for="waste">Waste Handling</label></li>
                                    <li><input type="checkbox" name="renewables" id="renewables" value="Renewables" data-sector="renewables">
                                        <label for="renewables">Renewables</label></li>
                                    <li><input type="checkbox" name="municipal" id="municipal" value="Municipal" data-sector="municipal">
                                        <label for="municipal">Municipal</label></li>
                                </ul>
                            </fieldset>
                            <fieldset>
                                <legend>Select Vehicle:</legend>
                                <ul class="inverted">
                                    <li><input type="checkbox" id="tractor" name="tractor" value="Tractor" data-sector="tractor">
                                        <label for="tractor">Tractor</label></li>
                                    <li><input type="checkbox" id="backhoe" name="backhoe" value="Backhoe" data-sector="backhoe">
                                        <label for="backhoe">Backhoe</label></li>
                                    <li><input type="checkbox" id="skid-steer" name="skid-steer" value="Skid Steer" data-sector="skid-steer">
                                        <label for="skid-steer">Skid Steer</label></li>
                                    <li><input type="checkbox" id="front-loader" name="front-loader" value="Front Loader" data-sector="front-loader">
                                        <label for="front-loader">Front Loader</label></li>
                                    <li><input type="checkbox" id="forklift" name="forklift" value="Fork Lift" data-sector="forklift">
                                        <label for="forklift">Fork Lift</label></li>
                                    <li><input type="checkbox" id="telehandler" name="telehandler" value="Telehandler" data-sector="telehandler">
                                        <label for="telehandler">Telehandler</label></li>
                                    <li><input type="checkbox" id="load-shovel" name="load-shovel" value="Load Shovel" data-sector="load-shovel">
                                        <label for="load-shovel">Load Shovel</label></li>
                                </ul>
                            </fieldset>
                            <button class="btn">Continue <i class="glyphicon glyphicon-triangle-right" aria-hidden="true"></i></button>
                        </form>
                    </div>
                </div>
                <div id="product-becomes-filter">
                    <button id="feature-filter-switcher" class="btn feature" aria-hidden="true">
                        <span class="filter-label">Filter products <i class="glyphicon glyphicon-filter"></i></span>
                        <span class="feature-label">Featured Product <i class="glyphicon glyphicon-asterisk"></i></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="container">
                <div class="col-xs-7 col-xs-0">
                        <h2 class="title">WELCOME TO MURRAY MACHINERY</h2>
                    <div class="detail">
                        <p>Established near Aberdeen (UK) in 1979, Murray Machinery are UK agricultural machinery manufacturers who specialise in material handling attachments to fit telescopic handlers, forklifts and loaders.</p>
                        <p>At Murray Machinery we are able to offer the benefit of over 30 years experience in the design and development of all our different attachments. Feedback from our customers is extremely valuable in the evolvement of our products to keep up with the ever changing methods and techniques used in the agricultural industry. It is also the case that some of our attachments have remained virtually unchanged over the years do to their success and reliability.</p>
                    </div>
                </div>
                <div class="col-xs-5 col-xs-0">
                    <h2 class="title text-uppercase"><a href="news.html">Latest News <i class="glyphicon glyphicon-triangle-right" aria-hidden="true"></i></a></h2>
                    <div class="detail">
                        <div class="row">
                            <div class="col-sm-5">
                                <a href="article.html?id=011"><img src="uploaded/news-image-1.jpg" class="img-responsive img-mm" alt="News image title" /></a>
                            </div>
                            <div class="col-sm-7">
                                <h4 class="title">Introducing your new favourite machine!</h4>
                                <p>The Murray <strong>Top Grab</strong> further enhances the purpose of the Murray Muck Fork. Its construction consists of a standard Muck Fork with a top grab fitted.</p>
                                <p><a href="article.html?id=011" class="article-link">Read the full article <i class="glyphicon glyphicon-triangle-right" aria-hidden="true"></i></a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}