{% extends "layout.html" %}

{% block navigation %}
    {% import 'macros/main-navigation-macro.html' as nav %}
    {{nav.active('product')}}
{% endblock %}

{% block content %}
    <div class="section">
        <div class="content page-heading">
            <div class="container">
                <div class="col-sm-3">
                    <h2 class="title">Large Silage Fork</h2>
                    <h3 class="subtitle">Features:</h3>
                    <div class="detail">
                        <ul>
                            <li>Heavy duty tines 32" long at 9" spacing 4' - 8' wide</li>
                            <li>With or without top grab</li>
                            <li>Fully enclosed or with 'see through' back</li>
                            <li>Any colour you wish</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-5">
                    <img src="uploaded/product-highlight-image-1.png" class="img-responsive product-image" alt="Large Silage Fork" />
                </div>
                <div class="col-sm-4">
                    <h3 class="title">Suitable for:</h3>
                    <ul class="sector-list">
                        <li>
                            <i class="sector-icon agriculture"></i>
                            <span>Agriculture</span>
                        </li>
                        <li>
                            <i class="sector-icon waste white"></i>
                            <span>Waste Handling</span>
                        </li>
                    </ul>
                    <ul class="vehicle-list">
                        <li>
                            <i class="vehicle-icon tractor"></i>
                            <span>Tractor</span>
                        </li>
                        <li>
                            <i class="vehicle-icon telehandler"></i>
                            <span>Telehandler</span>
                        </li>
                        <li>
                            <i class="vehicle-icon backhoe"></i>
                            <span>Backhoe</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="content">
            <div class="container">
                <div class="col-sm-8">

                    <div class="row">
                        <div class="col-sm-3">
                            <img src="uploaded/product-alt-image-1.jpg" alt="Large Silage Fork Image 2" class="img-responsive product-image">
                        </div>
                        <div class="col-sm-3">
                            <img src="uploaded/product-alt-image-2.jpg" alt="Large Silage Fork Image 1" class="img-responsive product-image">
                        </div>
                        <div class="col-sm-3">
                            <img src="uploaded/product-alt-image-3.jpg" alt="Large Silage Fork Image 3" class="img-responsive product-image">
                        </div>
                    </div>

                    <hr>

                    <div class="detail">
                        <p>The Murray Grain Pusher is designed to push grain considerably higher than is possible with a standard grain bucket. It consists of a blade which is attached to a long box section frame with Tractor 'Loader or Telescopic Handler mounting brackets at the opposite end.</p>
                        <p>The Murray <strong>Large Silage Fork</strong> is designed for extra capacity when loading chopped grass onto a silage pit. The frame is more heavily constructed and is fitted with extra duty tines bolted into large tapered sockets fitted along the bottom and the sides of the silage fork. </p>
                    </div>

                    <div class="links-list">
                        <a href="stock.html" class="btn btn-reverse">In stock/Ready to ship <i class="glyphicon glyphicon-triangle-right" aria-hidden="true"></i></a>
                        <a href="contact.html" class="btn">Enquire/Order <i class="glyphicon glyphicon-triangle-right" aria-hidden="true"></i></a>
                        <a href="owners.html" class="btn">Owners Info <i class="glyphicon glyphicon-triangle-right" aria-hidden="true"></i></a>
                    </div>

                    <hr>




                </div>
                <div class="col-sm-4">

                    Tyr

                </div>
            </div>

        </div>

    </div>
{% endblock %}