{% extends "layout.html" %}

{% block navigation %}
    {% import 'macros/main-navigation-macro.html' as nav %}
    {{nav.active('product')}}
{% endblock %}

{% block content %}
    <div class="section">
        <div class="content product-highlight">
            <div class="container">
                <div class="col-sm-4">
                    <h2 class="title">Large Silage Fork</h2>
                    <h3 class="subtitle">Features:</h3>
                    <div class="detail">
                        <ul>
                            <li>Heavy duty tines 32" long at 9" spacing 4' - 8' wide</li>
                            <li>With or without top grab</li>
                            <li>Fully enclosed or with 'see through' back</li>
                            <li>Any colour you wish</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <img src="uploaded/product-highlight-image-1.png" class="img-responsive product-image" alt="Large Silage Fork" />
                </div>
                <div class="col-sm-4">

                </div>
            </div>
        </div>
    </div>
{% endblock %}