{% extends "layout.html" %}

{% block navigation %}
    {% import 'macros/main-navigation-macro.html' as nav %}
    {{nav.active('product')}}
{% endblock %}

{% block content %}
    <div class="section">
        <div class="content page-heading">
            <div class="container">
                <div class="col-sm-3">
                    <h2 class="title">Large Silage Fork</h2>
                    <h3 class="subtitle">Features:</h3>
                    <div class="detail">
                        <ul>
                            <li>Heavy duty tines 32" long at 9" spacing 4' - 8' wide</li>
                            <li>With or without top grab</li>
                            <li>Fully enclosed or with 'see through' back</li>
                            <li>Any colour you wish</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-5">
                    <img src="uploaded/product-highlight-image-1.png" class="img-responsive product-image" alt="Large Silage Fork" />
                </div>
                <div class="col-sm-4">
                    <h3 class="title">Suitable for:</h3>
                    <ul class="sector-list">
                        <li>
                            <i class="sector-icon agriculture" aria-hidden="true"></i>
                            <span>Agriculture</span>
                        </li>
                        <li>
                            <i class="sector-icon waste white" aria-hidden="true"></i>
                            <span>Waste Handling</span>
                        </li>
                    </ul>
                    <ul class="vehicle-list">
                        <li>
                            <i class="vehicle-icon tractor" aria-hidden="true"></i>
                            <span>Tractor</span>
                        </li>
                        <li>
                            <i class="vehicle-icon telehandler" aria-hidden="true"></i>
                            <span>Telehandler</span>
                        </li>
                        <li>
                            <i class="vehicle-icon backhoe" aria-hidden="true"></i>
                            <span>Backhoe</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="content">
            <div class="container">
                <div class="col-sm-8">

                    <div class="row">
                        <div class="col-sm-3">
                            <img src="uploaded/product-alt-image-1.jpg" alt="Large Silage Fork Image 2" class="img-responsive product-image">
                        </div>
                        <div class="col-sm-3">
                            <img src="uploaded/product-alt-image-2.jpg" alt="Large Silage Fork Image 1" class="img-responsive product-image">
                        </div>
                        <div class="col-sm-3">
                            <img src="uploaded/product-alt-image-3.jpg" alt="Large Silage Fork Image 3" class="img-responsive product-image">
                        </div>
                    </div>

                    <hr>

                    <div class="detail">
                        <p>The Murray Grain Pusher is designed to push grain considerably higher than is possible with a standard grain bucket. It consists of a blade which is attached to a long box section frame with Tractor 'Loader or Telescopic Handler mounting brackets at the opposite end.</p>
                        <p>The Murray <strong>Large Silage Fork</strong> is designed for extra capacity when loading chopped grass onto a silage pit. The frame is more heavily constructed and is fitted with extra duty tines bolted into large tapered sockets fitted along the bottom and the sides of the silage fork. </p>
                    </div>

                    <div class="links-list">
                        <a href="stock.html" class="btn btn-reverse">In stock/Ready to ship <i class="glyphicon glyphicon-triangle-right" aria-hidden="true"></i></a>
                        <a href="contact.html" class="btn">Enquire/Order <i class="glyphicon glyphicon-triangle-right" aria-hidden="true"></i></a>
                        <a href="owners.html" class="btn">Owners Info <i class="glyphicon glyphicon-triangle-right" aria-hidden="true"></i></a>
                    </div>

                    <hr>

                    <h2 class="title">Options and extras</h2>

                    <ul class="product-extras">
                        <li>
                            <img src="uploaded/product-extra-1.jpg" alt="Large Silage Fork Image 2" class="img-responsive product-image">
                            <div class="row">
                                <div class="col-xs-7 strong">Top Mesh Screen</div>
                                <div class="col-xs-5 strong text-right">&pound;150</div>
                                <div class="col-xs-12">Product ID: SP0023</div>
                            </div>
                        </li>
                        <li>
                            <img src="uploaded/product-extra-2.jpg" alt="Large Silage Fork Image 2" class="img-responsive product-image">
                            <div class="row">
                                <div class="col-xs-7 strong">Bespoke colour</div>
                                <div class="col-xs-5 strong text-right">&pound;150</div>
                                <div class="col-xs-12">Product ID: SP0127</div>
                            </div>
                        </li>
                        <li>
                            <img src="uploaded/product-extra-3.jpg" alt="Large Silage Fork Image 2" class="img-responsive product-image">
                            <div class="row">
                                <div class="col-xs-7 strong">Double Sided Tines</div>
                                <div class="col-xs-5 strong text-right">&pound;150</div>
                                <div class="col-xs-12">Product ID: SP0106</div>
                            </div>
                        </li>
                        <li>
                            <img src="uploaded/product-extra-4.jpg" alt="Large Silage Fork Image 2" class="img-responsive product-image">
                            <div class="row">
                                <div class="col-xs-7 strong">Double Sided Tines</div>
                                <div class="col-xs-5 strong text-right">&pound;150</div>
                                <div class="col-xs-12">Product ID: SP0087</div>
                            </div>
                        </li>
                    </ul>
                    <div class="cleft"></div>

                    <h2 class="title">Other Related Products</h2>

                    <ul class="product-extras">
                        <li>
                            <a href="product.html"><img src="uploaded/product-related-1.jpg" alt="Large Silage Fork Image 2" class="img-responsive product-image"></a>
                            <div class="row">
                                <div class="col-xs-12 strong">Silage Sheer Grab</div>
                                <div class="col-xs-12">Product ID: SP0023</div>
                            </div>
                        </li>
                        <li>
                            <a href="product.html"><img src="uploaded/product-related-2.jpg" alt="Large Silage Fork Image 2" class="img-responsive product-image"></a>
                            <div class="row">
                                <div class="col-xs-12 strong">Push Off Buckrake</div>
                                <div class="col-xs-12">Product ID: SP0127</div>
                            </div>
                        </li>
                        <li>
                            <a href="product.html"><img src="uploaded/product-related-3.jpg" alt="Large Silage Fork Image 2" class="img-responsive product-image"></a>
                            <div class="row">
                                <div class="col-xs-12 strong">Stone Forks</div>
                                <div class="col-xs-12">Product ID: SP0106</div>
                            </div>
                        </li>
                        <li>
                            <a href="product.html"><img src="uploaded/product-related-4.jpg" alt="Large Silage Fork Image 2" class="img-responsive product-image"></a>
                            <div class="row">
                                <div class="col-xs-12 strong">Muck Fork with Top Grab</div>
                                <div class="col-xs-12">Product ID: SP0087</div>
                            </div>
                        </li>
                    </ul>
                    <div class="cleft"></div>


                </div>
                <div class="col-sm-4">

                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="product-variations">
                        <caption class="title">Price:</caption>
                        <tbody>
                            <tr>
                                <th scope="col">Size</th>
                                <th scope="col">ID</th>
                                <th scope="col">MS</th>
                                <th scope="col">Cost</th>
                                <th scope="col">In Stock</th>
                            </tr>
                            <tr>
                                <td>4" wide 6 tines</td>
                                <td>001</td>
                                <td>BH</td>
                                <td class="money">&pound;695</td>
                                <td class="green">Yes</td>
                            </tr>
                            <tr>
                                <td>4" wide 6 tines with grab</td>
                                <td>002</td>
                                <td>LS</td>
                                <td class="money">&pound;995</td>
                                <td class="green">Yes</td>
                            </tr>
                            <tr>
                                <td>4" wide 6 tines</td>
                                <td>001</td>
                                <td>BH</td>
                                <td class="money">&pound;695</td>
                                <td class="green">Yes</td>
                            </tr>
                            <tr>
                                <td>4" wide 6 tines</td>
                                <td>001</td>
                                <td>BH</td>
                                <td class="money">&pound;695</td>
                                <td class="green">Yes</td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="table-key">
                        <h4>MS Column Key</h4>
                        <dl>
                            <dt>TH</dt>
                            <dd>Telehandler</dd>
                            <dt>LS</dt>
                            <dd>Load Shovel</dd>
                            <dt>T</dt>
                            <dd>Tractor</dd>
                            <dt>SS</dt>
                            <dd>Skid Steer</dd>
                            <dt>BH</dt>
                            <dd>Bucket Hoe</dd>
                        </dl>
                    </div>

                </div>
            </div>

        </div>

    </div>
{% endblock %}