{% extends "layout.html" %}

{% block navigation %}
    {% import 'macros/main-navigation-macro.html' as nav %}
    {{nav.active('stock')}}
{% endblock %}

{% block content %}
    <div class="section">
        <div class="content page-heading">
            <div class="container">
                <div class="col-sm-12">
                    <h2 class="title text-uppercase">Products</h2>
                    <div class="detail">
                        <p>Filtered by: <span id="filter-string"></span></p>

                        <script type="text/javascript">
                            // TODO: Rob, obviously do this with PHP
                            var loc = window.location.href,
                                qS = loc.split('?')[1],
                                qsArr = qS.split('&'),
                                filterString = "",
                                stringDisplay = document.getElementById('filter-string');

                            if(qS.length < 1){

                                // no filter, go to stock items
                                window.location.assign('stock.html');

                            } else {

                                // write out users filter settings
                                for(var i = 0; i < qsArr.length; i++ ){
                                    qsArr[i] = qsArr[i].split('=')[1].replace('+', " ")
                                }

                                if(qsArr.length == 1){
                                    stringDisplay.innerHTML = qsArr[0]+'.';
                                }

                                if(qsArr.length > 1){
                                    filterString = qsArr.join(' + ');
                                    stringDisplay.innerHTML = filterString+'.';
                                }
                            }

                        </script>
                    </div>
                </div>
            </div>
        </div>

        <div class="content product-item"><!-- stock item starts -->
            <div class="container">
                <div class="col-sm-4">
                    <div class="with-other-views">
                        <a href="product.html"><img src="uploaded/product-alt-image-3.jpg" alt="LARGE SILAGE FORK" class="img-responsive product-image main-view" /></a>
                        <ul class="other-views">
                            <li><a href="#"><img src="uploaded/product-alt-image-1.jpg" class="img-responsive product-image" alt="LARGE SILAGE FORK"></a></li>
                            <li><a href="#"><img src="uploaded/product-alt-image-2.jpg" class="img-responsive product-image" alt="LARGE SILAGE FORK"></a></li>
                            <li><a href="#"><img src="uploaded/product-alt-image-3.jpg" class="img-responsive product-image" alt="LARGE SILAGE FORK"></a></li>
                        </ul>
                        <a href="product.html" class="large-anchor">View Product <i class="glyphicon glyphicon-triangle-right" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="col-sm-5">
                    <h2 class="title">Large Silage Fork</h2>
                    <div class="detail">
                        <h4 class="product-id">Product ID: 0037</h4>
                        <p>The Murray 8’ Muck Fork with Top Grab is designed to push grain considerably higher than is possible with a standard grain bucket.</p>
                        <p>It consists of a blade which is attached to a long box section frame with Tractor 'Loader or Telescopic Handler mounting brackets at the opposite end.</p>
                        <h4>Attachment Type: <span class="attachment-type">Matbro / Pin & Cone</span></h4>
                        <ul class="sector-vehicle-list">
                            <li>
                                <i class="vehicle-icon tractor inverted" aria-hidden="true"></i>
                                <span>Tractor</span>
                            </li>
                            <li>
                                <i class="sector-icon agriculture" aria-hidden="true"></i>
                                <span>Agriculture</span>
                            </li>
                            <li>
                                <i class="sector-icon forestry" aria-hidden="true"></i>
                                <span>Forestry</span>
                            </li>
                        </ul>
                        <div class="cleft"></div>
                    </div>
                </div>
                <div class="col-sm-3 text-right">
                    <h2 class="title">Price Ex Yard:</h2>
                    <span class="price">&pound;1,275</span>
                    <a href="contact.html" class="btn">Enquire/Order <i class="glyphicon glyphicon-triangle-right" aria-hidden="true"></i></a>
                </div>
            </div>
        </div><!-- stock item ends -->

        <div class="content product-item"><!-- stock item starts -->
            <div class="container">
                <div class="col-sm-4">
                    <div class="with-other-views">
                        <!--<a href="product.html"><img src="uploaded/product-alt-image-2.jpg" alt="LARGE SILAGE FORK" class="img-responsive product-image main-view" /></a>-->
                        <img src="uploaded/product-alt-image-2.jpg" alt="LARGE SILAGE FORK" class="img-responsive product-image main-view" />
                        <ul class="other-views">
                            <li><a href="#"><img src="uploaded/product-alt-image-1.jpg" class="img-responsive product-image" alt="LARGE SILAGE FORK"></a></li>
                            <li><a href="#"><img src="uploaded/product-alt-image-2.jpg" class="img-responsive product-image" alt="LARGE SILAGE FORK"></a></li>
                            <li><a href="#"><img src="uploaded/product-alt-image-3.jpg" class="img-responsive product-image" alt="LARGE SILAGE FORK"></a></li>
                        </ul>
                        <!--<a href="product.html" class="large-anchor">View Product <i class="glyphicon glyphicon-triangle-right" aria-hidden="true"></i></a>-->
                    </div>
                </div>
                <div class="col-sm-5">
                    <h2 class="title">Large Silage Fork</h2>
                    <div class="detail">
                        <h4 class="product-id">Product ID: 0030</h4>
                        <p>This product is out of stock and Ut pretium lacinia nisl, et pharetra felis consectetur vitae. Donec vitae luctus ante, id varius massa. Donec a molestie sem, quis tempor odio.</p>
                        <h4>Attachment Type: <span class="attachment-type">Matbro / Pin & Cone</span></h4>
                        <ul class="sector-vehicle-list">
                            <li>
                                <i class="vehicle-icon tractor inverted" aria-hidden="true"></i>
                                <span>Tractor</span>
                            </li>
                            <li>
                                <i class="sector-icon waste" aria-hidden="true"></i>
                                <span>Waste Handling</span>
                            </li>
                            <li>
                                <i class="sector-icon forestry" aria-hidden="true"></i>
                                <span>Forestry</span>
                            </li>
                        </ul>
                        <div class="cleft"></div>
                    </div>
                </div>
                <div class="col-sm-3 text-right">
                    <h2 class="title">Price Ex Yard:</h2>
                    <span class="price">&pound;1,275</span>
                    <!--<a href="contact.html" class="btn">Enquire/Order <i class="glyphicon glyphicon-triangle-right" aria-hidden="true"></i></a>-->
                    <span class="badge">Out of stock</span>
                </div>
            </div>
        </div><!-- stock item ends -->

        <div class="content product-item"><!-- stock item starts -->
            <div class="container">
                <div class="col-sm-4">
                    <div class="with-other-views">
                        <!--<a href="product.html"><img src="uploaded/product-alt-image-2.jpg" alt="LARGE SILAGE FORK" class="img-responsive product-image main-view" /></a>-->
                        <img src="uploaded/product-alt-image-1.jpg" alt="LARGE SILAGE FORK" class="img-responsive product-image main-view" />
                        <ul class="other-views">
                            <li><a href="#"><img src="uploaded/product-alt-image-1.jpg" class="img-responsive product-image" alt="LARGE SILAGE FORK"></a></li>
                            <li><a href="#"><img src="uploaded/product-alt-image-2.jpg" class="img-responsive product-image" alt="LARGE SILAGE FORK"></a></li>
                            <li><a href="#"><img src="uploaded/product-alt-image-3.jpg" class="img-responsive product-image" alt="LARGE SILAGE FORK"></a></li>
                        </ul>
                        <!--<a href="product.html" class="large-anchor">View Product <i class="glyphicon glyphicon-triangle-right" aria-hidden="true"></i></a>-->
                    </div>
                </div>
                <div class="col-sm-5">
                    <h2 class="title">Large Silage Fork</h2>
                    <div class="detail">
                        <h4 class="product-id">Product ID: 0030</h4>
                        <p>This product is out of stock and Ut pretium lacinia nisl, et pharetra felis consectetur vitae. Donec vitae luctus ante, id varius massa. Donec a molestie sem, quis tempor odio.</p>
                        <h4>Attachment Type: <span class="attachment-type">Matbro / Pin & Cone</span></h4>
                        <ul class="sector-vehicle-list">
                            <li>
                                <i class="vehicle-icon load-shovel inverted" aria-hidden="true"></i>
                                <span>Load Shovel</span>
                            </li>
                            <li>
                                <i class="sector-icon agriculture" aria-hidden="true"></i>
                                <span>Agriculture</span>
                            </li>
                            <li>
                                <i class="sector-icon forestry" aria-hidden="true"></i>
                                <span>Forestry</span>
                            </li>
                        </ul>
                        <div class="cleft"></div>
                    </div>
                </div>
                <div class="col-sm-3 text-right">
                    <h2 class="title">Price Ex Yard:</h2>
                    <span class="price">&pound;1,275</span>
                    <!--<a href="contact.html" class="btn">Enquire/Order <i class="glyphicon glyphicon-triangle-right" aria-hidden="true"></i></a>-->
                    <span class="badge">Out of stock</span>
                </div>
            </div>
        </div><!-- stock item ends -->

        <div class="content product-item"><!-- stock item starts -->
            <div class="container">
                <div class="col-sm-4">
                    <div class="with-other-views">
                        <a href="product.html?id=12"><img src="uploaded/product-extra-2.jpg" alt="Bale Transporter HD, Fold Up" class="img-responsive product-image main-view" /></a>
                        <ul class="other-views">
                            <li><a href="#"><img src="uploaded/product-extra-2.jpg" class="img-responsive product-image" alt="Bale Transporter HD, Fold Up"></a></li>
                            <li><a href="#"><img src="uploaded/product-extra-2-view2.jpg" class="img-responsive product-image" alt="Bale Transporter HD, Fold Up"></a></li>
                        </ul>
                        <a href="product.html?id=12" class="large-anchor">View Product <i class="glyphicon glyphicon-triangle-right" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="col-sm-5">
                    <h2 class="title">Bale Transporter HD, Fold Up</h2>
                    <div class="detail">
                        <h4 class="product-id">Product ID: 0056</h4>
                        <p>Maecenas rutrum eleifend velit. Pellentesque ornare interdum turpis, blandit congue purus tristique in. Vivamus pulvinar ut orci non aliquet.
                            Nullam blandit nulla at lectus varius placerat.</p>
                        <h4>Attachment Type: <span class="attachment-type">Rear 3 point linkage</span></h4>
                        <ul class="sector-vehicle-list">
                            <li>
                                <i class="vehicle-icon telehandler inverted" aria-hidden="true"></i>
                                <span>Telehandler</span>
                            </li>
                            <li>
                                <i class="sector-icon agriculture" aria-hidden="true"></i>
                                <span>Agriculture</span>
                            </li>
                        </ul>
                        <div class="cleft"></div>
                    </div>
                </div>
                <div class="col-sm-3 text-right">
                    <h2 class="title">Price Ex Yard:</h2>
                    <span class="price">&pound;2,640</span>
                    <a href="contact.html" class="btn">Enquire/Order <i class="glyphicon glyphicon-triangle-right" aria-hidden="true"></i></a>
                </div>
            </div>
        </div><!-- stock item ends -->

    </div>
{% endblock %}