{% extends "layout.html" %}

{% block navigation %}
    {% import 'macros/main-navigation-macro.html' as nav %}
    {{nav.active('sector')}}
{% endblock %}

{% block content %}
    <div class="section">

        <div class="content page-heading">
            <div class="container">
                <div class="col-sm-12">
                    <h2 class="title text-uppercase" id="display-box">Agriculture</h2>
                    <div class="detail">
                        <p>Some introductory copy for <span id="display-box-2" style="text-transform: capitalize;">this sector</span></p>
                    </div>
                    <script type="text/javascript">
                        // TODO: simulation
                        var loc = window.location.href,
                            qS = loc.split('?')[1],
                            id = qS.split('=')[1],
                            displayBox = document.getElementById('display-box'),
                            displayBox2 = document.getElementById('display-box-2');

                        id = id.replace('+', ' ');
                        if(id.length > 0){
                            displayBox.innerHTML = id;
                            displayBox2.innerHTML = id;
                        }
                    </script>
                </div>
            </div>
        </div>

        <div id="timed-carousel" class="content" style="background-image: url('uploaded/sector-bg-1.jpg');">
            <div class="container">
                <div class="col-sm-12">
                    <div class="slides">
                        <img src="uploaded/sector-bg-1.jpg" alt="Sector Slide 1" class="slide active" />
                        <img src="uploaded/sector-bg-2.jpg" alt="Sector Slide 2" class="slide" />
                        <img src="uploaded/sector-bg-3.jpg" alt="Sector Slide 3" class="slide" />
                        <div class="slide-progress-bar display-none" aria-hidden="true"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content">
            <div class="container">
                <div class="col-xs-3 col-xs-0 img-icon-box">
                    <img src="images/sector-icon-agriculture.png" alt="Agriculture icon" class="img-responsive img-icon" />
                </div>
                <div class="col-xs-9 col-xs-0">
                    <h2 class="title">Our machines won't let you down</h2>
                    <div class="detail">
                        <p>We're confident you'll agree with our many satisfied customers that Murray Machinery are a great choice for agricultural material handling attachments in the UK.</p>
                        <p>Established near Aberdeen (UK) in 1979, Murray Machinery are UK agricultural machinery manufacturers who specialise in material handling attachments to fit telescopic handlers, forklifts and loaders.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="content">
            <div class="container">
                <div class="col-xs-12">
                    <h2 class="title">Murray Agricultural Machines</h2>
                </div>
                <div class="col-xs-12 col-xs-0">
                    <div class="row">
                        <div class="col-sm-4 col-xs-6">
                            <div class="sector-pod">
                                <a href="product.html">
                                    <img src="uploaded/history-image-1.jpg" class="img-responsive img-mm" alt="Ready when you are..." />
                                    <span>Machine One <i class="glyphicon glyphicon-triangle-right" aria-hidden="true"></i></span>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-6">
                            <div class="sector-pod">
                                <a href="product.html">
                                    <img src="uploaded/history-image-4.jpg" class="img-responsive img-mm" alt="Ready when you are..." />
                                    <span>Machine Two <i class="glyphicon glyphicon-triangle-right" aria-hidden="true"></i></span>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-6">
                            <div class="sector-pod">
                                <a href="product.html">
                                    <img src="uploaded/history-image-2.jpg" class="img-responsive img-mm" alt="Met some other person" />
                                    <span>Machine Three <i class="glyphicon glyphicon-triangle-right" aria-hidden="true"></i></span>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-6">
                            <div class="sector-pod">
                                <a href="product.html">
                                    <img src="uploaded/history-image-3.jpg" class="img-responsive img-mm" alt="Another Alternative text" />
                                    <span>Machine Four <i class="glyphicon glyphicon-triangle-right" aria-hidden="true"></i></span>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-6">
                            <div class="sector-pod">
                                <a href="product.html">
                                    <img src="uploaded/history-image-2.jpg" class="img-responsive img-mm" alt="Ready when you are..." />
                                    <span>Machine Five <i class="glyphicon glyphicon-triangle-right" aria-hidden="true"></i></span>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-6">
                            <div class="sector-pod">
                                <a href="product.html">
                                    <img src="uploaded/history-image-4.jpg" class="img-responsive img-mm" alt="Ready when you are..." />
                                    <span>Machine Six <i class="glyphicon glyphicon-triangle-right" aria-hidden="true"></i></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}