{% extends "layout.html" %}

{% block navigation %}
    {% import 'macros/main-navigation-macro.html' as nav %}
    {{nav.active('sector')}}
{% endblock %}

{% block content %}
    <div class="section">
        <div class="content page-heading">
            <div class="container">
                <div class="col-sm-12">
                    <h2 class="title text-uppercase" id="display-box">Agriculture</h2>
                    <script type="text/javascript">
                        // TODO: simulation
                        var loc = window.location.href,
                            qS = loc.split('?')[1],
                            id = qS.split('=')[1],
                            displayBox = document.getElementById('display-box');

                        id = id.replace('+', ' ');
                        if(id.length > 0){
                            displayBox.innerHTML = id;
                        }
                    </script>
                </div>
            </div>
        </div>

        <div class="stage" id="timed-carousel" style="background-image: url('uploaded/sector-bg-1.jpg');">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="slides">
                            <img src="uploaded/sector-bg-1.jpg" alt="Sector Slide 1" class="slide active" />
                            <img src="uploaded/sector-bg-2.jpg" alt="Sector Slide 2" class="slide" />
                            <img src="uploaded/sector-bg-3.jpg" alt="Sector Slide 3" class="slide" />
                            <div class="slide-progress-bar"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}