{% extends "layout.html" %}

{% block navigation %}
    {% import 'macros/main-navigation-macro.html' as nav %}
    {{nav.active('stock')}}
{% endblock %}

{% block content %}
    <div class="section">
        <div class="content page-heading">
            <div class="container">
                <div class="col-sm-12">
                    <h2 class="title">Products in stock</h2>
                    <div class="detail">
                        <p>Machine ready to ship right now.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}