{% extends "layout.html" %}

{% block navigation %}
    {% import 'macros/main-navigation-macro.html' as nav %}
    {{nav.active('info')}}
{% endblock %}

{% block content %}
    <div class="section">
        <div class="content page-heading">
            <div class="container">
                <div class="col-sm-12">
                    <h2 class="title text-uppercase">Warranty Information</h2>
                    <div class="detail">
                        <p>Phasellus vitae dui accumsan, pellentesque lectus a, fringilla nulla.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="content"><!-- -->
            <div class="container">

                <div class="col-sm-12">
                    <h2 class="title">2017 Murray Machinery warranty information</h2>
                    <div class="detail">
                        <p>Suspendisse tincidunt metus sed <a href="http://www.google.co.uk" target="_blank">External Link</a> imperdiet iaculis. Praesent nunc ex, efficitur et faucibus <strong>ignissim sempipsum der</strong> Nullam porta ipsum lorem. Sed sed mi ipsum. Etiam varius libero a erat ornare suscipit. Mauris id neque cursus, fringilla felis non, molestie nulla. Suspendisse commodo erat quis nisi pretium, sit amet malesuada nisl consequat. Ut ac purus et neque lacinia auctor. Etiam convallis velit ut mauris finibus, dapibus iaculis ipsum dictum. Duis erat nulla, tincidunt vitae faucibus ut, egestas eu ligula. Morbi ut egestas mi.</p>
                        <p>Vivamus ac felis sed <strong>ipsum dignissim semper</strong> quis at libero. Donec nulla elit, mollis id ultrices a, varius nec quam. Phasellus posuere ex lectus.</p>
                        <p>Lid commodo massa ultricies at. Aliquam aliquam, ligula sed fringilla interdum, nisi dui eleifend tortor, sed gravida libero est tincidunt nibh. Pellentesque sed justo lacus. Nunc sed interdum or.</p>
                        <p>Aliquam ut nisl tortor. Etiam a pulvinar leo, at <strong>scelerisque</strong> augue. Nullam congue nisl eros, et maximus tel.</p>
                        <p>Lorem ipsum dolor sit ametat blandit justo accumsan, id sagittis ligula facilisis. Suspendisse molestie in arcu ut blandit. In eu purus neque.</p>
                        <p>Zon sectetur adipiscing elit. Vestibulum sagittis urna ac gravida mollis. Nulla diam elit, porttitor elementum tellus id, posuere tristique est. Vestibulum accumsan sit amet neque nec mattis. Sed non hendrerit leo. Prae</p>
                        <h4 class="title">A smaller sub-title</h4>
                        <p>Sed vitae blandit elit, sit amet imperdiet nulla. Proin sed luctus massa. Integer ut dictum enim, nec lobortis tellus. Sed sagittis lacus in massa vestibulum aliquam. Aliquam condimentum augue quis odio pulvinar vestibulum. Nam sit amet mattis purus. Praesent tempor dolor a tortor venenatis, ac mollis mi cursus. Cras rhoncus faucibus nunc quis euismod.</p>
                        <p>Cras sed elit nibh <a href="https://www.skechers.com/en-gb/style/52187/flex-advantage-2-0-high-key/blk" target="_blank">Nunc External Link</a>, iaculis id justo non, dapibus porta tellus. Sed egestas est auctor euismod lobortis. Proin posuere lectus in sapien auctor ullamcorper. Nam dictum dignissim magna vehicula efficitur. Proin pretium euismod leo. Praesent sodales nulla eu libero consequat, quis interdum arcu aliquam. Donec a ullamcorper mi. Nullam porta orci ac erat tempor, non faucibus quam efficitur.</p>
                        <p>Nullam eu metus libero. Morbi eget sollicitudin nisi. Suspendisse tincidunt metus sed imperdiet iaculis. Praesent nunc ex, <strong>egestasr</strong> nec, cursus sed elit. Nullam porta ipsum lorem. Sed sed mi ipsum. Etiam varius libero a erat ornare suscipit. Mauris id neque cursus, fringilla felis non, molestie nulla. Suspendisse commodo erat quis nisi pretium, sit amet malesuada nisl consequat. Ut ac purus et neque lacinia auctor. Etiam convallis velit ut mauris finibus, dapibus iaculis ipsum dictum. Duis erat nulla, tincidunt vitae faucibus ut, egestas eu ligula. Morbi ut egestas mi.</p>
                    </div>

                    <h2 class="title">Another big TITLE</h2>
                    <div class="detail">
                        <p>Sed vitae blandit elit, sit amet imperdiet nulla. Proin sed luctus massa. Integer ut dictum enim, nec lobortis tellus. Sed sagittis lacus in massa vestibulum aliquam. Aliquam condimentum augue quis odio pulvinar vestibulum. Nam sit amet mattis purus. Praesent tempor dolor a tortor venenatis, ac mollis mi cursus. Cras rhoncus faucibus nunc quis euismod.</p>
                        <p>Cras sed elit nibh. Nunc mauris massa, iaculis id justo non, dapibus porta tellus. Sed egestas est auctor euismod lobortis. Proin posuere lectus in sapien auctor ullamcorper. Nam dictum dignissim magna vehicula efficitur. Proin pretium euismod leo. Praesent sodales nulla eu libero consequat, quis interdum arcu aliquam. Donec a ullamcorper mi. Nullam porta orci ac erat tempor, non faucibus quam efficitur.</p>
                    </div>
                </div>

            </div>
        </div><!--  ends -->
    </div>
{% endblock %}