@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
.aux-navigation ul, .main-navigation ul, .main-carousel .slide-controls ul, .product-highlight .sector-list,
.product-highlight .vehicle-list,
.page-heading .sector-list,
.page-heading .vehicle-list, .single-item .sector-vehicle-list, .footer .footer-links, #product-filter ul, .product-extras, .other-views, .other-news {
  margin: 0;
  padding: 0;
  list-style: none; }

.aux-navigation .text, .main-carousel .slide:not(.active), #product-feature:not(.visible),
#product-filter:not(.visible), #mm-1 .mm-title, #timed-carousel .slide {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }

@font-face {
  font-family: 'osp-dindin';
  src: url("../fonts/osp-din-webfont.woff2") format("woff2"), url("../fonts/osp-din-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'league_gothiccondensed_italic';
  src: url("../fonts/leaguegothic-condenseditalic-webfont.woff2") format("woff2"), url("../fonts/leaguegothic-condenseditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'league_gothicCnRg';
  src: url("../fonts/leaguegothic-condensedregular-webfont.woff2") format("woff2"), url("../fonts/leaguegothic-condensedregular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'league_gothicitalic';
  src: url("../fonts/leaguegothic-italic-webfont.woff2") format("woff2"), url("../fonts/leaguegothic-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'league_gothicregular';
  src: url("../fonts/leaguegothic-regular-webfont.woff2") format("woff2"), url("../fonts/leaguegothic-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.container {
  width: 1170px; }
  @media (max-width: 1200px) {
    .container {
      width: 100%; } }

.content {
  padding: 25px 0; }
  .content .large-cta {
    background: url("../images/stock_arrow.png") right center no-repeat;
    display: inline-block;
    margin-bottom: 15px;
    text-transform: uppercase;
    padding: 0;
    border-radius: 3px;
    -moz-transition: all 0.25s;
    -o-transition: all 0.25s;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
    font-weight: normal; }
    .content .large-cta a {
      display: inline-block;
      background: url("../images/stock_logo.png") 0 0 no-repeat;
      background-size: cover;
      padding: 10px 60px 8px 15px;
      -moz-transition: all 0.5s;
      -o-transition: all 0.5s;
      -webkit-transition: all 0.5s;
      transition: all 0.5s;
      position: relative; }
      .content .large-cta a i {
        position: absolute;
        right: 20px;
        top: 50%;
        margin-top: -12px; }
      .content .large-cta a:hover {
        background: url("../images/stock_logo.png") -15px 0 no-repeat;
        background-size: cover; }
    @media (max-width: 768px) {
      .content .large-cta {
        display: block;
        background: #cccccc;
        font-size: 2.0em;
        text-align: center; }
        .content .large-cta a {
          padding: 10px 0 8px 0;
          display: block; }
          .content .large-cta a i {
            position: static; } }
  @media (max-width: 1200px) {
    .content .container {
      padding-right: 0;
      padding-left: 0; } }

.cleft {
  clear: left; }

.section {
  position: relative; }

form label {
  font-weight: normal !important; }

form .checkbox {
  padding-top: 0 !important; }

form input, form select, form textarea, form button {
  box-shadow: none !important;
  border-color: #666666 !important;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal !important; }
  form input:not([type="radio"]), form input:not([type="checkbox"]), form select:not([type="radio"]), form select:not([type="checkbox"]), form textarea:not([type="radio"]), form textarea:not([type="checkbox"]), form button:not([type="radio"]), form button:not([type="checkbox"]) {
    -webkit-border-radius: 1px !important;
    -moz-border-radius: 1px !important;
    border-radius: 1px !important; }
  form input:focus, form select:focus, form textarea:focus, form button:focus {
    border-color: #000000 !important;
    box-shadow: none !important; }

form input[type="text"],
form input[type="email"],
form input[type="number"],
form select, form textarea, form button {
  outline: none !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

form input, form select, form textarea {
  color: #000000; }

form input[type="checkbox"],
form input[type="radio"] {
  outline: none !important; }

@media (max-width: 479px) {
  form [type="submit"] {
    width: 100%; } }

form.form-horizontal {
  padding-bottom: 15px; }
  form.form-horizontal label:not(.checkbox-right) {
    text-align: left !important;
    font-size: 0.9em; }
  form.form-horizontal .radio-inline {
    padding-top: 0; }

form .checkbox-right,
form .checkbox-left {
  position: relative;
  width: 100%;
  min-height: 30px; }
  form .checkbox-right span,
  form .checkbox-left span {
    display: inline-block; }
  form .checkbox-right input,
  form .checkbox-left input {
    position: absolute;
    top: 4px;
    width: 15px;
    height: 15px;
    outline: none !important;
    cursor: pointer;
    margin: 0; }

form .checkbox-right {
  text-align: right !important; }
  form .checkbox-right span {
    padding-right: 27px; }
  form .checkbox-right input {
    right: 0; }

form .checkbox-left {
  text-align: left !important; }
  form .checkbox-left span {
    padding-left: 27px; }
  form .checkbox-left input {
    left: 0; }

form .error-message {
  display: none !important; }

form .error input, form .error select, form .error textarea {
  border-color: #d73037 !important; }

form .error .error-message {
  display: block !important;
  color: #d73037;
  font-size: 0.8em;
  padding-top: 2px; }

form textarea {
  resize: none; }

.btn {
  border: none;
  -webkit-border-radius: 1px !important;
  -moz-border-radius: 1px !important;
  border-radius: 1px !important;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  font-family: league_gothicregular;
  text-transform: uppercase;
  font-size: 1.5em;
  background-color: #d2d2d2;
  color: #791b1f;
  outline: none !important;
  padding: 5px 10px 5px 14px; }
  .btn i {
    font-size: 0.75em; }
  .btn:hover {
    background-color: #333333;
    color: #ffffff; }
  .btn.btn-reverse {
    background-color: #d73037;
    color: #d2d2d2; }
    .btn.btn-reverse:hover {
      background-color: #333333;
      color: #ffffff; }
  .btn.btn-inner {
    width: 100%;
    height: 34px;
    line-height: 34px;
    padding: 0 10px !important; }
  @media (max-width: 480px) {
    .btn {
      display: block;
      width: 100%; } }

.badge {
  border: none;
  -webkit-border-radius: 1px !important;
  -moz-border-radius: 1px !important;
  border-radius: 1px !important;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  font-family: league_gothicregular;
  text-transform: uppercase;
  font-size: 1.5em;
  background-color: #d73037;
  color: #ffffff;
  outline: none !important;
  padding: 5px 14px;
  font-weight: normal;
  line-height: 1.42857143; }

.links-list .btn,
.links-list .badge {
  margin-bottom: 10px; }
  @media (max-width: 480px) {
    .links-list .btn,
    .links-list .badge {
      display: block; } }

h1, h2, h3 {
  margin: 0;
  padding: 0 0 15px 0;
  font-weight: bold;
  font-family: league_gothicregular; }

ul {
  margin-bottom: 15px; }

h2 {
  font-size: 2.8em; }
  h2 span {
    display: block;
    font-size: 0.8em; }
  h2 a {
    color: #791b1f;
    -moz-transition: color 0.25s;
    -o-transition: color 0.25s;
    -webkit-transition: color 0.25s;
    transition: color 0.25s;
    outline: none !important;
    text-decoration: none !important; }
    h2 a:focus {
      color: #791b1f; }
    h2 a:hover {
      color: #333333; }
    h2 a i {
      font-size: 0.6em; }

h3 {
  margin: 0;
  font-size: 2.0em;
  padding: 0 0 10px 0; }

h4 {
  margin: 0;
  padding: 0 0 10px 0; }
  h4.title {
    font-family: league_gothicregular;
    font-size: 2.0em; }

h5 {
  margin: 0;
  padding: 0 0 10px 0; }

a {
  color: #1c3389;
  -moz-transition: color 0.25s;
  -o-transition: color 0.25s;
  -webkit-transition: color 0.25s;
  transition: color 0.25s; }
  a:hover {
    color: #333333;
    text-decoration: none; }
  a.large-anchor {
    color: #791b1f;
    font-family: league_gothicregular;
    text-transform: uppercase;
    font-size: 2.3em;
    display: block;
    clear: both;
    text-decoration: none !important; }
    a.large-anchor:hover {
      color: #333333; }
    a.large-anchor i {
      font-size: 0.6em; }
  a.more-link {
    font-weight: bold;
    color: #791b1f;
    padding-top: 2px;
    display: block; }
    a.more-link i {
      font-size: 0.75em; }
    a.more-link:hover {
      color: #111111;
      text-decoration: underline; }

.strong {
  font-weight: bold; }

.detail a {
  text-decoration: underline; }
  .detail a:hover {
    text-decoration: none; }

.detail .article-link {
  color: #d73037;
  font-weight: bold;
  text-decoration: none; }
  .detail .article-link:hover {
    color: #111111;
    text-decoration: underline; }

.desktop .mobile-link {
  color: #666666 !important;
  cursor: default !important;
  text-decoration: none !important; }

.display-none {
  display: none; }

.opacity-zero {
  opacity: 0; }

/* styling select dropdown form field */
select {
  background: transparent;
  background: url("../images/bg-select.png") right center no-repeat !important;
  padding-right: 50px !important; }

/* CAUTION: IE hackery ahead */
select::-ms-expand {
  display: none;
  /* remove default arrow in IE 10 and 11 */ }

/* target Internet Explorer 9 to undo the custom arrow */
@media screen and (min-width: 0\0) {
  select {
    background: none\9;
    padding: 5px\9; } }

select.short-select {
  width: 60px;
  display: inline;
  float: left; }

p {
  margin-bottom: 15px; }

@media (max-width: 480px) {
  .col-xs-0 {
    width: 100% !important; }
    .col-xs-0 .row > div {
      width: 100% !important; } }

.empty-content {
  height: 715px; }

@media (min-width: 480px) {
  .mobile-spacer {
    display: none; } }

body {
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
  background-color: #ffffff;
  font-size: 16px; }

.aux-navigation li {
  display: inline; }
  .aux-navigation li:nth-last-child(1) .icon {
    padding-right: 12px; }

.aux-navigation a {
  display: inline-block;
  font-size: 0.85em;
  padding: 12px;
  text-align: center;
  text-decoration: none; }
  @media (max-width: 992px) {
    .aux-navigation a {
      font-size: 1.0em; } }
  .aux-navigation a:hover {
    text-decoration: underline; }

.aux-navigation .icon {
  padding: 12px 10px;
  font-size: 1.0em; }
  .aux-navigation .icon:hover {
    background: #1c3389;
    color: #ffffff; }

@media (max-width: 992px) {
  .aux-navigation .icon {
    display: none; }
  .aux-navigation a {
    padding: 10px 5px 20px 5px; } }

@media (max-width: 480px) {
  .aux-navigation a {
    padding: 10px 0 0 0;
    text-align: right; }
  .aux-navigation li {
    text-align: right;
    display: block; }
    .aux-navigation li:nth-child(2) a {
      padding: 5px 0 15px 0; } }

.main-navigation a {
  outline: none !important; }

.main-navigation ul {
  border-top: 1px solid #f8dbdc;
  float: left; }

.main-navigation > ul > li > a {
  font-family: osp-dindin;
  outline: none !important; }

.main-navigation li {
  float: left;
  position: relative; }
  .main-navigation li.hover > a {
    color: #1c3389; }
  .main-navigation li.hover > ul {
    display: block; }

.main-navigation ul ul {
  position: absolute;
  display: none;
  left: 0;
  top: 100%;
  z-index: 2;
  width: 220px;
  background-color: #ffffff;
  border: 1px solid #f8dbdc;
  -webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.35);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.35); }
  .main-navigation ul ul > li {
    float: none; }
    .main-navigation ul ul > li a {
      text-transform: capitalize;
      text-align: left;
      padding: 5px 10px;
      font-size: 0.95em;
      font-weight: bold;
      -moz-transition: background 0.25s;
      -o-transition: background 0.25s;
      -webkit-transition: background 0.25s;
      transition: background 0.25s; }
    .main-navigation ul ul > li.hover, .main-navigation ul ul > li:hover {
      background: #e6e6e6; }

.main-navigation ul ul ul {
  left: 100%;
  top: -1px; }
  .main-navigation ul ul ul li:hover {
    background: #e6e6e6; }

.main-navigation a {
  display: block;
  font-size: 2.0em;
  padding: 12px 10px;
  text-align: center;
  color: #666666;
  text-transform: uppercase;
  text-decoration: none;
  -moz-transition: color 0.25s;
  -o-transition: color 0.25s;
  -webkit-transition: color 0.25s;
  transition: color 0.25s; }
  .main-navigation a:hover {
    color: #1c3389; }

.main-navigation .active a {
  color: #1c3389; }

@media (max-width: 1200px) {
  .main-navigation a {
    font-size: 1.6em; } }

@media (max-width: 992px) {
  .main-navigation > ul {
    display: none; } }

.main-navigation .has-menu .has-menu i {
  float: right;
  margin-top: 3px; }

.main-navigation .sector-nav a {
  padding: 3px 10px; }

.main-navigation .sector-icon {
  float: left;
  width: 42px;
  height: 48px;
  margin-right: 15px; }

.main-navigation .text {
  line-height: 47px;
  height: 48px; }

.sector-icon {
  background-size: contain; }
  .sector-icon.agriculture {
    background-image: url("../images/sector-icons/agriculture.png"); }
    .sector-icon.agriculture.white {
      background-image: url("../images/sector-icons/agriculture-w.png"); }
  .sector-icon.forestry {
    background-image: url("../images/sector-icons/forestry.png"); }
    .sector-icon.forestry.white {
      background-image: url("../images/sector-icons/forestry-w.png"); }
  .sector-icon.renewables {
    background-image: url("../images/sector-icons/renewables.png"); }
    .sector-icon.renewables.white {
      background-image: url("../images/sector-icons/renewables-w.png"); }
  .sector-icon.municipal {
    background-image: url("../images/sector-icons/municipal.png"); }
    .sector-icon.municipal.white {
      background-image: url("../images/sector-icons/municipal-w.png"); }
  .sector-icon.engineering {
    background-image: url("../images/sector-icons/engineering.png"); }
    .sector-icon.engineering.white {
      background-image: url("../images/sector-icons/engineering-w.png"); }
  .sector-icon.waste {
    background-image: url("../images/sector-icons/waste.png"); }
    .sector-icon.waste.white {
      background-image: url("../images/sector-icons/waste-w.png"); }
  .sector-icon.construction {
    background-image: url("../images/sector-icons/construction.png"); }
    .sector-icon.construction.white {
      background-image: url("../images/sector-icons/construction-w.png"); }

.vehicle-icon {
  background-size: contain; }
  .vehicle-icon.backhoe {
    background-image: url("../images/machine-icons/back-hoe.png"); }
  .vehicle-icon.forklift {
    background-image: url("../images/machine-icons/forklift.png"); }
  .vehicle-icon.front-loader {
    background-image: url("../images/machine-icons/front-loader.png"); }
  .vehicle-icon.skid-steer {
    background-image: url("../images/machine-icons/skid-steer.png"); }
  .vehicle-icon.telehandler {
    background-image: url("../images/machine-icons/telehandler.png"); }
  .vehicle-icon.tractor {
    background-image: url("../images/machine-icons/tractor.png"); }
  .vehicle-icon.load-shovel {
    background-image: url("../images/machine-icons/load-shovel.png"); }

.toggle-navigation {
  margin-top: 7px;
  opacity: 1 !important;
  outline: none !important; }
  .toggle-navigation .hamburger-inner,
  .toggle-navigation .hamburger-inner::before,
  .toggle-navigation .hamburger-inner::after {
    width: 40px;
    height: 6px;
    background-color: #d73037; }
  @media (min-width: 993px) {
    .toggle-navigation {
      display: none; } }
  .toggle-navigation.is-active {
    margin-right: -10px; }

.logo {
  margin-top: -10px;
  padding-bottom: 0; }
  .logo img {
    width: 100%; }
  @media (max-width: 992px) {
    .logo {
      width: 265px; } }
  @media (max-width: 768px) {
    .logo {
      width: 190px; } }

.skirt {
  height: 27px;
  background-color: #1c3389;
  width: 100%;
  margin-top: -12px; }
  @media (max-width: 992px) {
    .skirt {
      margin-top: -9px;
      height: 36px; } }
  @media (max-width: 768px) {
    .skirt {
      margin-top: -5px;
      height: 17px; } }

.main-carousel {
  background-position: center;
  background-size: cover;
  -moz-transition: background 1s;
  -o-transition: background 1s;
  -webkit-transition: background 1s;
  transition: background 1s; }
  .main-carousel .slides {
    height: 400px;
    position: relative; }
    @media (max-width: 768px) {
      .main-carousel .slides {
        height: 300px; } }
  .main-carousel .slide {
    background: #ffffff;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    -webkit-border-radius: 1px !important;
    -moz-border-radius: 1px !important;
    border-radius: 1px !important;
    width: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.16);
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.16); }
    @media (max-width: 768px) {
      .main-carousel .slide {
        width: 100%; } }
    .main-carousel .slide p:nth-last-child(1) {
      margin-bottom: 0; }
  .main-carousel .title {
    color: #333333; }
    .main-carousel .title span {
      color: #1c3389; }
  .main-carousel .slide-controls {
    float: left; }
    .main-carousel .slide-controls ul {
      float: left; }
    .main-carousel .slide-controls li {
      float: left;
      padding: 15px 0 15px 15px; }
    .main-carousel .slide-controls a {
      display: block;
      width: 20px;
      height: 20px;
      -webkit-border-radius: 50% !important;
      -moz-border-radius: 50% !important;
      border-radius: 50% !important;
      background: #ffffff;
      text-indent: -9000px;
      -moz-transition: opacity 0.5s;
      -o-transition: opacity 0.5s;
      -webkit-transition: opacity 0.5s;
      transition: opacity 0.5s;
      outline: none !important;
      opacity: 0.4; }
      .main-carousel .slide-controls a:hover, .main-carousel .slide-controls a.active {
        opacity: 1.0; }
    @media (max-width: 768px) {
      .main-carousel .slide-controls li {
        float: left;
        padding: 15px 10px 15px 15px; }
      .main-carousel .slide-controls a {
        width: 25px;
        height: 25px; } }
    .main-carousel .slide-controls.controls-not-ready {
      height: 53px; }
      .main-carousel .slide-controls.controls-not-ready * {
        display: none; }

.title,
.subtitle {
  line-height: 100%;
  font-weight: normal; }

.product-highlight,
.page-heading {
  background: #d73037;
  box-shadow: inset 0 2px 6px -2px rgba(0, 0, 0, 0.2), inset 0px -2px 6px -2px rgba(0, 0, 0, 0.2); }
  .product-highlight .title,
  .page-heading .title {
    color: #ffffff; }
    .product-highlight .title span,
    .page-heading .title span {
      color: #791b1f; }
  .product-highlight .padded-prefix,
  .page-heading .padded-prefix {
    padding-bottom: 3px; }
  .product-highlight .subtitle,
  .page-heading .subtitle {
    color: #791b1f; }
  .product-highlight .detail,
  .page-heading .detail {
    color: #ffffff; }
  .product-highlight .product-link,
  .page-heading .product-link {
    display: block; }
  .product-highlight ul,
  .page-heading ul {
    padding-left: 20px; }
  .product-highlight .img-mm,
  .page-heading .img-mm {
    padding-bottom: 20px; }
  .product-highlight .vehicle-icon,
  .product-highlight .sector-icon,
  .page-heading .vehicle-icon,
  .page-heading .sector-icon {
    width: 42px;
    height: 48px;
    display: inline-block;
    margin-right: 5px; }
  .product-highlight .sector-list,
  .product-highlight .vehicle-list,
  .page-heading .sector-list,
  .page-heading .vehicle-list {
    float: left;
    clear: left;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3); }
    .product-highlight .sector-list li,
    .product-highlight .vehicle-list li,
    .page-heading .sector-list li,
    .page-heading .vehicle-list li {
      float: left;
      text-align: center;
      padding-bottom: 10px;
      padding-right: 10px;
      width: 90px;
      color: #ffffff;
      text-transform: uppercase;
      font-size: 0.75em; }
      .product-highlight .sector-list li a,
      .product-highlight .vehicle-list li a,
      .page-heading .sector-list li a,
      .page-heading .vehicle-list li a {
        display: block; }
    .product-highlight .sector-list i,
    .product-highlight .vehicle-list i,
    .page-heading .sector-list i,
    .page-heading .vehicle-list i {
      display: inline-block;
      width: 63px;
      height: 72px;
      margin: 0; }
  .product-highlight .vehicle-list,
  .page-heading .vehicle-list {
    border: none;
    padding-top: 20px; }
    .product-highlight .vehicle-list li,
    .page-heading .vehicle-list li {
      color: #000000 !important; }
  .product-highlight button,
  .page-heading button {
    background-color: #ffffff;
    color: #d73037; }

.page-heading .detail p:nth-last-child(1) {
  margin-bottom: 0; }

.single-item {
  border-bottom: 1px solid #d2d2d2; }
  .single-item:nth-last-child(1) {
    border-bottom: none; }
  .single-item .vehicle-icon,
  .single-item .sector-icon {
    width: 42px;
    height: 48px;
    display: inline-block; }
  .single-item .sector-vehicle-list {
    float: left; }
    .single-item .sector-vehicle-list li {
      float: left;
      text-align: center;
      padding-bottom: 10px;
      width: 80px;
      margin-right: 10px;
      color: #000000;
      text-transform: uppercase;
      font-size: 0.7em; }
      .single-item .sector-vehicle-list li span {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-transform: uppercase; }

.page-heading {
  margin-top: 20px; }
  .page-heading .img-mm {
    margin-top: -30px;
    padding-bottom: 0;
    margin-bottom: 0; }
    @media (max-width: 768px) {
      .page-heading .img-mm {
        margin-top: 0; } }

.img-mm {
  width: 100%;
  margin-bottom: 10px;
  -webkit-border-radius: 1px !important;
  -moz-border-radius: 1px !important;
  border-radius: 1px !important; }

.img-icon-box {
  text-align: center; }
  .img-icon-box .img-icon {
    display: inline-block;
    margin-bottom: 15px; }

.footer {
  background: #1c3389;
  -webkit-box-shadow: inset 0 3px 8px 0 rgba(0, 0, 0, 0.26);
  -moz-box-shadow: inset 0 3px 8px 0 rgba(0, 0, 0, 0.26);
  box-shadow: inset 0 3px 8px 0 rgba(0, 0, 0, 0.26); }
  .footer .container {
    padding-top: 15px;
    padding-bottom: 35px;
    background: url("../images/bg-footer.png") bottom right no-repeat; }
  .footer .footer-links {
    text-align: center; }
    .footer .footer-links li {
      float: left; }
      .footer .footer-links li a {
        display: block;
        color: #ffffff;
        font-size: 1.0em;
        padding: 10px;
        text-decoration: none; }
        .footer .footer-links li a:hover {
          color: #ffffff;
          text-decoration: underline; }
  .footer .footer-copy {
    text-align: center;
    color: #ffffff;
    font-size: 0.85em;
    padding: 15px 0; }
    .footer .footer-copy a {
      color: #ffffff;
      text-decoration: none; }
      .footer .footer-copy a:hover {
        color: #ffffff; }

#container-product-filter {
  position: relative;
  overflow: hidden;
  -moz-transition: height, 0.5s;
  -o-transition: height, 0.5s;
  -webkit-transition: height, 0.5s;
  transition: height, 0.5s; }

#product-becomes-filter {
  position: absolute;
  top: 0;
  right: 30px; }
  @media (max-width: 1200px) {
    #product-becomes-filter {
      right: 15px; } }
  @media (max-width: 480px) {
    #product-becomes-filter {
      left: 15px !important; } }

#feature-filter-switcher i {
  font-size: 0.8em;
  margin-left: 5px; }

#feature-filter-switcher.feature .feature-label {
  display: none; }

#feature-filter-switcher.feature .filter-label {
  display: inline-block; }

#feature-filter-switcher.filter .feature-label {
  display: inline-block; }

#feature-filter-switcher.filter .filter-label {
  display: none; }

#product-feature,
#product-filter {
  position: absolute;
  bottom: 0;
  left: 15px;
  right: 15px;
  background: #d73037;
  overflow: auto; }
  @media (max-width: 480px) {
    #product-feature,
    #product-filter {
      padding-top: 65px; } }
  @media (max-width: 1200px) {
    #product-feature,
    #product-filter {
      left: 0;
      right: 0; } }
  #product-feature.static,
  #product-filter.static {
    position: static; }

#product-filter fieldset {
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin-bottom: 10px; }
  @media (max-width: 480px) {
    #product-filter fieldset {
      border-bottom: none;
      margin-bottom: 0; } }

#product-filter legend {
  font-family: league_gothicregular;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 2.8em;
  margin: 0;
  border: none;
  line-height: 100%;
  padding: 0 0 20px 0; }
  #product-filter legend.inverted {
    color: #111111; }

#product-filter ul {
  float: left;
  width: 100%;
  text-align: justify;
  color: #ffffff; }
  #product-filter ul li {
    display: inline-block;
    text-align: center; }

#product-filter .inverted input[type=checkbox] + label,
#product-filter .inverted input[type=radio] + label {
  color: #111111; }

#product-filter input {
  -moz-transition: all, 0.25s;
  -o-transition: all, 0.25s;
  -webkit-transition: all, 0.25s;
  transition: all, 0.25s; }

@media (min-width: 992px) {
  #product-filter input[type=checkbox],
  #product-filter input[type=radio] {
    display: none; }
  #product-filter input[type=checkbox] + label,
  #product-filter input[type=radio] + label {
    background-size: 100%;
    width: 90%;
    display: inline-block;
    opacity: 0.5;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: top center;
    padding-top: 110%;
    color: #ffffff;
    font-weight: bold;
    font-size: 0.75em;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
    -moz-transition: all, 0.25s;
    -o-transition: all, 0.25s;
    -webkit-transition: all, 0.25s;
    transition: all, 0.25s; }
    #product-filter input[type=checkbox] + label:hover,
    #product-filter input[type=radio] + label:hover {
      opacity: 1 !important; }
  #product-filter input[type=checkbox]:checked + label,
  #product-filter input[type=radio]:checked + label {
    opacity: 1 !important;
    text-decoration: underline !important;
    font-weight: bold; }
  #product-filter input[data-sector="agriculture"] + label {
    background-image: url("../images/sector-icons/agriculture-w.png"); }
  #product-filter input[data-sector="forestry"] + label {
    background-image: url("../images/sector-icons/forestry-w.png"); }
  #product-filter input[data-sector="municipal"] + label {
    background-image: url("../images/sector-icons/municipal-w.png"); }
  #product-filter input[data-sector="construction"] + label {
    background-image: url("../images/sector-icons/construction-w.png"); }
  #product-filter input[data-sector="waste"] + label {
    background-image: url("../images/sector-icons/waste-w.png"); }
  #product-filter input[data-sector="engineering"] + label {
    background-image: url("../images/sector-icons/engineering-w.png"); }
  #product-filter input[data-sector="renewables"] + label {
    background-image: url("../images/sector-icons/renewables-w.png"); }
  #product-filter input[data-sector="tractor"] + label {
    background-image: url("../images/machine-icons/tractor.png"); }
  #product-filter input[data-sector="backhoe"] + label {
    background-image: url("../images/machine-icons/back-hoe.png"); }
  #product-filter input[data-sector="load-shovel"] + label {
    background-image: url("../images/machine-icons/load-shovel.png"); }
  #product-filter input[data-sector="telehandler"] + label {
    background-image: url("../images/machine-icons/telehandler.png"); }
  #product-filter input[data-sector="front-loader"] + label {
    background-image: url("../images/machine-icons/front-loader.png"); }
  #product-filter input[data-sector="forklift"] + label {
    background-image: url("../images/machine-icons/forklift.png"); }
  #product-filter input[data-sector="skid-steer"] + label {
    background-image: url("../images/machine-icons/skid-steer.png"); } }

.mm-listview > li > a,
.mm-listview > li > span {
  padding: 15px 15px 15px 25px;
  text-transform: uppercase; }

.mm-navbar .mm-title {
  text-transform: uppercase;
  text-align: left; }

#mm-blocker {
  -webkit-box-shadow: 3px 0 5px 0 rgba(0, 0, 0, 0.17);
  -moz-box-shadow: 3px 0 5px 0 rgba(0, 0, 0, 0.17);
  box-shadow: 3px 0 5px 0 rgba(0, 0, 0, 0.17); }

.mm-panel {
  background: #fefdfb; }

.mm-panels .sector-icons li a {
  position: relative;
  padding-left: 55px; }

.mm-panels .sector-icons .sector-icon {
  position: absolute;
  width: 21px;
  height: 24px;
  top: 50%;
  margin-top: -12px;
  left: 20px; }

.product-extras {
  float: left;
  width: 100%;
  overflow: hidden;
  margin-bottom: 30px; }
  .product-extras li {
    float: left;
    padding: 10px 10px 10px 10px;
    font-size: 0.75em;
    width: 25%;
    border-bottom: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    background: #d2d2d2; }
    .product-extras li .title {
      font-size: 1.1em;
      padding-bottom: 5px;
      font-weight: bold; }
    .product-extras li .unit-price {
      font-size: 1.0em;
      font-weight: bold;
      color: #1c3389; }
    .product-extras li p {
      margin-bottom: 0;
      padding-bottom: 0; }
    @media (max-width: 992px) {
      .product-extras li {
        width: 50%; } }
    @media (max-width: 480px) {
      .product-extras li {
        width: 100%;
        border-bottom: 1px solid #ffffff; } }
  .product-extras a {
    display: block; }
    .product-extras a img {
      -moz-transition: all, 0.25s;
      -o-transition: all, 0.25s;
      -webkit-transition: all, 0.25s;
      transition: all, 0.25s; }
    .product-extras a:hover img {
      -webkit-filter: brightness(120%);
      filter: brightness(120%); }

.header-board {
  padding: 10px 10px 0 10px;
  background: #d2d2d2; }
  .header-board .title {
    border-bottom: 1px solid #ffffff;
    padding-bottom: 5px; }

.product-variations {
  width: 100%;
  margin-bottom: 20px; }
  .product-variations caption {
    font-family: league_gothicregular;
    text-transform: uppercase;
    padding: 10px;
    background: #d2d2d2;
    color: #111111;
    font-size: 2.5em;
    border-bottom: 1px solid #ffffff; }
  .product-variations th {
    white-space: nowrap;
    background: #d2d2d2; }
  .product-variations td, .product-variations th {
    font-size: 0.75em;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-right: 1px solid #ffffff; }
  .product-variations .money {
    text-align: right; }
  .product-variations .green {
    text-align: center;
    text-transform: uppercase;
    color: #4cae4c; }
  .product-variations tr td:nth-last-child(1), .product-variations tr th:nth-last-child(1) {
    border-right: none; }
  .product-variations tr:nth-child(odd) td {
    background: #d2d2d2; }
  @media (max-width: 992px) and (min-width: 768px) {
    .product-variations th {
      background: #666666;
      color: #ffffff; }
      .product-variations th:first-child {
        display: none; }
    .product-variations td, .product-variations th {
      display: block;
      border-bottom: 1px solid #ffffff;
      float: left;
      width: 25%;
      border-right: none; }
      .product-variations td:first-child, .product-variations th:first-child {
        float: none;
        width: 100%;
        font-size: 0.9em;
        border-right: none; }
    .product-variations tr:nth-child(even) td {
      border-color: #d2d2d2; } }

.table-key {
  font-size: 0.85em !important; }
  .table-key h4 {
    font-size: 1.0em !important; }
  .table-key dt {
    float: left;
    padding-right: 3px; }
    .table-key dt::after {
      content: " = "; }
  .table-key dd {
    float: left;
    padding-right: 10px; }
    .table-key dd::after {
      content: ","; }
    .table-key dd:nth-last-child(1)::after {
      content: "."; }

.price {
  display: block;
  font-family: league_gothicregular;
  color: #1c3389;
  font-size: 2.8em;
  line-height: 100%;
  padding-bottom: 10px; }

.product-id,
.attachment-type,
.article-date,
.document-type {
  color: #1c3389;
  font-weight: 700; }

.other-views {
  float: left;
  margin: 0 -5px;
  overflow: hidden; }
  .other-views li {
    float: left;
    width: 25%; }
  .other-views a {
    display: block;
    margin: 0 5px; }
  .other-views img {
    width: 100%; }

.other-news li {
  border-bottom: 1px solid #d2d2d2;
  margin-bottom: 25px;
  padding-bottom: 15px; }
  .other-news li:nth-last-child(1) {
    border-bottom: none;
    margin-bottom: 0; }

blockquote {
  display: block;
  background: #fff;
  padding: 0 20px 20px 45px;
  margin: 0;
  position: relative;
  border: none; }
  blockquote::before {
    content: "\201C";
    /*Unicode for Left Double Quote*/
    font-family: league_gothicregular;
    font-size: 6.0em;
    font-weight: bold;
    color: #d2d2d2;
    line-height: 100%;
    position: absolute;
    left: 0;
    top: 0; }
  blockquote::after {
    /*Reset to make sure*/
    content: ""; }
  blockquote footer {
    font-family: league_gothicregular;
    font-size: 1.5em;
    line-height: 100%;
    padding-top: 5px; }

#timed-carousel {
  width: 100%;
  background-position: top center;
  -moz-transition: background 1s;
  -o-transition: background 1s;
  -webkit-transition: background 1s;
  transition: background 1s;
  margin-bottom: 10px; }
  #timed-carousel .slides {
    height: 270px;
    width: 100%;
    position: relative; }
  #timed-carousel .slide-progress-bar {
    width: 100%;
    height: 3px;
    background-color: #d2d2d2;
    position: absolute;
    bottom: -28px;
    left: 0; }
    #timed-carousel .slide-progress-bar > div {
      width: 100%;
      height: 100%;
      background-color: #d73037;
      -moz-transition: width 30s;
      -o-transition: width 30s;
      -webkit-transition: width 30s;
      transition: width 30s;
      transition-timing-function: linear; }

.sector-pod {
  margin-bottom: 25px; }
  .sector-pod img {
    margin: 0; }
  .sector-pod span {
    display: inline-block;
    padding: 6px 12px 4px 12px;
    font-family: league_gothicregular;
    font-size: 1.5em; }
    .sector-pod span i {
      font-size: 0.75em; }
  .sector-pod a {
    display: block;
    color: #791b1f;
    background: #d2d2d2;
    -moz-transition: all, 0.5s;
    -o-transition: all, 0.5s;
    -webkit-transition: all, 0.5s;
    transition: all, 0.5s;
    text-transform: uppercase; }
    .sector-pod a:hover {
      color: #ffffff;
      background: #333333; }

.google-maps {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
  margin-bottom: 20px;
  background: #d2d2d2; }
  .google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important; }

@media (min-width: 992px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%; } }
